﻿body {
    background-color: #Color-fondo!important;
}

#cabeza {
    background-image:url('#cabeza-background-image')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('#menu-image-logo')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('#menu-image-logo')!important;

    }

.Id1{}

.Id2{}

.Id3{}

.Id4{}

.Id5{}

.colorAzulO{
    background:#ColorBotonAzul!important;
}

a:hover {
     color:#ColorBotonAzul!important;
}

.imagenMosaico
{
    background-color:#ColorBotonAzul!important;
}