﻿   /*se necesita hacer que esto se escriba automaticamente. o pasarlo a aws*/
       @font-face {
       font-family: 'pap';
           /*  src: url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
           src: url('Fonts/pap.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
       }   

@font-face {
        font-family: 'Versus-BlackExtended';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/Versus-BlackExtended DEMO.otf')format('opentype');
        }
/*--------------- Clan OT ----------*/

@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ClanOT-Book.otf')format('opentype');
        }


 @font-face {
        font-family: 'Clan OT';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/FontFont - ClanOT-BookItalic.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 700;
        src: url('Fonts/ClanOT-Bold.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: italic;
		font-weight: 700;
        src: url('Fonts/FontFont - ClanOT-BoldItalic.otf')format('opentype');
        }


@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/ClanOT-Medium.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: italic;
		font-weight: 500;
        src: url('Fonts/FontFont - ClanOT-MediumItalic.otf')format('opentype');
        }


@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 800;
        src: url('Fonts/ClanOT-Black.otf')format('opentype');
        }


@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 300;
        src: url('Fonts/ClanOT-News.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: italic;
		font-weight: 300;
        src: url('FontFont - ClanOT-NewsItalic.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 100;
        src: url('Fonts/ClanOT-Thin.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 900;
        src: url('Fonts/ClanOT-Ultra.otf')format('opentype');
        }




@font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-Book.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-BookIt.otf')format('opentype');
        }


@font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: normal;
		font-weight: 900;
        src: url('Fonts/ITCFranklinGothicStd-Hvy.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: italic;
		font-weight: 900;
        src: url('Fonts/ITCFranklinGothicStd-HvyIt.otf')format('opentype');
        }


@font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/ITCFranklinGothicStd-Med.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: italic;
		font-weight: 500;
        src: url('Fonts/ITCFranklinGothicStd-MedIt.otf')format('opentype');
        }

 /*------------CONDENSED-----------------------------------------------------*/
@font-face {
        font-family: 'ITC Franklin Gothic Book Condensed';
	    font-style: normal;
		font-weight: normal;
    src: url('Fonts/ITCFranklinGothicStd-Book Condensed.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book Condensed';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-BkCdIt.otf')format('opentype');
        }

 /*------------COMPRESED-----------------------------------------------------*/


@font-face {
        font-family: 'ITC Franklin Gothic Book Compresed';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-BkCp.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book Compresed';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-BkCpIt.otf')format('opentype');
        }

 @font-face {
        font-family: 'ITC Franklin Gothic Book Compresed';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/ITCFranklinGothicStd-BkXCp.otf')format('opentype');
        }
 /*---------------Demi----------*/

@font-face {
        font-family: 'ITC Franklin Gothic Demi';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-Demi.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Demi';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DemiIt.otf')format('opentype');
        }
 /*------------CONDENSED-----------------------------------------------------*/




@font-face {
        font-family: 'ITC Franklin Gothic Demi Condensed';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DmCd.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Demi Condensed';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DmCdIt.otf')format('opentype');
        }
 /*------------COMPRESED-----------------------------------------------------*/





@font-face {
        font-family: 'ITC Franklin Gothic Demi Compresed';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DmCp.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Demi Compresed';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DmCpIt.otf')format('opentype');
        }

 @font-face {
        font-family: 'ITC Franklin Gothic Demi Compresed';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/ITCFranklinGothicStd-DmXCp.otf')format('opentype');
        }

            @font-face {
        font-family: 'AbsaraSans';
        font-style: normal;
		font-weight: normal;
        src: url('Fonts/AbsaraSans-Regular.otf')format('opentype');
        }

 @font-face {
        font-family: 'AbsaraSans';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/AbsaraSans-RegularItalic.otf')format('opentype');
        }


 @font-face {
        font-family: 'AbsaraSans';
	    font-style: normal;
		font-weight: bold;
        src: url('Fonts/AbsaraSans-Bold.otf')format('opentype');
        }

  @font-face {
        font-family: 'AbsaraSans';
	    font-style: italic;
		font-weight: bold;
        src: url('Fonts/AbsaraSans-BoldItalic.otf')format('opentype');
        }


 @font-face {
        font-family: 'AbsaraSans';
	    font-style: normal;
		font-weight: 300;
        src: url('Fonts/AbsaraSans-Light.otf')format('opentype');
        }

 @font-face {
        font-family: 'AbsaraSans';
	    font-style: italic;
		font-weight:300;
        src: url('Fonts/AbsaraSans-LightItalic.otf')format('opentype');
        }
  @font-face {
        font-family: 'AbsaraSans-Medium';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/AbsaraSans-Medium.otf')format('opentype');
        }

 @font-face {
        font-family: 'AbsaraSans-MediumItalic';
	    font-style: italic;
		font-weight: 500;
        src: url('Fonts/AbsaraSans-MediumItalic.otf')format('opentype');
        }


 @font-face {
        font-family: 'AbsaraSans';
	    font-style: normal;
		font-weight: 100;
        src: url('Fonts/AbsaraSans-Thin.otf')format('opentype');
        }

 @font-face {
        font-family: 'AbsaraSans';
	    font-style: Italic;
		font-weight: 100;
        src: url('Fonts/AbsaraSans-ThinItalic.otf')format('opentype');
        }

        }
/*--------------- Averta ----------*/

@font-face {
        font-family: 'Averta';
	    font-style: normal;
		font-weight: 400;
        src: url('Fonts/Averta-Regular.otf')format('opentype');
        }


 @font-face {
        font-family: 'Averta';
	    font-style: italic;
		font-weight: 400;
        src: url('Fonts/Averta-RegularItalic.otf')format('opentype');
        }

 @font-face {
        font-family: 'Averta';
	    font-style: normal;
		font-weight: 300;
        src: url('Fonts/Averta-Light.otf')format('opentype');
        }


 @font-face {
        font-family: 'Averta';
	    font-style: italic;
		font-weight: 300;
        src: url('Fonts/Averta-LightItalic.otf')format('opentype');
        }
  @font-face {
        font-family: 'Averta';
	    font-style: normal;
		font-weight: 200;
        src: url('Fonts/Averta-Thin.otf')format('opentype');
        }


 @font-face {
        font-family: 'Averta';
	    font-style: italic;
		font-weight: 200;
        src: url('Fonts/Averta-ThinItalic.otf')format('opentype');
        }
   @font-face {
        font-family: 'Averta';
	    font-style: normal;
		font-weight: 100;
        src: url('Fonts/Averta-Extrathin.otf')format('opentype');
        }


 @font-face {
        font-family: 'Averta';
	    font-style: italic;
		font-weight: 100;
        src: url('Fonts/Averta-ExtrathinItalic.otf')format('opentype');
        }
    @font-face {
        font-family: 'Averta';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/Averta-Semibold.otf')format('opentype');
        }


 @font-face {
        font-family: 'Averta';
	    font-style: italic;
		font-weight: 500;
        src: url('Fonts/Averta-SemiboldItalic.otf')format('opentype');
        }
     @font-face {
        font-family: 'Averta';
	    font-style: normal;
		font-weight: 600;
        src: url('Fonts/Averta-Bold.otf')format('opentype');
        }


 @font-face {
        font-family: 'Averta';
	    font-style: italic;
		font-weight: 600;
        src: url('Fonts/Averta-BoldItalic.otf')format('opentype');
        }
      @font-face {
        font-family: 'Averta';
	    font-style: normal;
		font-weight: 700;
        src: url('Fonts/Averta-ExtraBold.otf')format('opentype');
        }


 @font-face {
        font-family: 'Averta';
	    font-style: italic;
		font-weight: 700;
        src: url('Fonts/Averta-ExtraBoldItalic.otf')format('opentype');
        }
       @font-face {
        font-family: 'Averta';
	    font-style: normal;
		font-weight: 800;
        src: url('Fonts/Averta-Black.otf')format('opentype');
        }


 @font-face {
        font-family: 'Averta';
	    font-style: italic;
		font-weight: 800;
        src: url('Fonts/Averta-BlackItalic.otf')format('opentype');
        }
 /*--------------- Raleway------*/

@font-face {
        font-family: 'Raleway';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/Raleway-Regular.ttf') format('truetype');
        }

@font-face {
        font-family: 'Raleway';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/Raleway-Thin.ttf') format('truetype');
        }
 
@font-face {
        font-family: 'Raleway';
	    font-style: normal;
		font-weight: 100;
        src: url('Fonts/Raleway-ThinItalic.ttf') format('truetype');
        }


@font-face {
        font-family: 'Raleway';
	    font-style: italic;
		font-weight: 100;
        src: url('Fonts/Raleway-Italic.ttf') format('truetype');
        }

@font-face {
        font-family: 'Raleway';
	    font-style: normal;
		font-weight: 200;
        src: url('Fonts/Raleway-ExtraLight.ttf') format('truetype');
        }


@font-face {
        font-family: 'Raleway';
	    font-style: italic;
		font-weight: 200;
        src: url('Fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
        }
@font-face {
        font-family: 'Raleway';
	    font-style: normal;
		font-weight: 300;
        src: url('Fonts/Raleway-Light.ttf') format('truetype');
        }


@font-face {
        font-family: 'Raleway';
	    font-style: italic;
		font-weight: 300;
        src: url('Fonts/Raleway-LightItalic.ttf') format('truetype');
        }

@font-face {
        font-family: 'Raleway';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/Raleway-Medium.ttf') format('truetype');
        }


@font-face {
        font-family: 'Raleway';
	    font-style: italic;
		font-weight: 500;
        src: url('Fonts/Raleway-MediumItalic.ttf') format('truetype');
        }
@font-face {
        font-family: 'Raleway';
	    font-style: normal;
		font-weight: 600;
        src: url('Fonts/Raleway-SemiBold.ttf') format('truetype');
        }


 @font-face {
        font-family: 'Raleway';
	    font-style: italic;
		font-weight: 600;
        src: url('Fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
        }
@font-face {
        font-family: 'Raleway';
	    font-style: normal;
		font-weight: 700;
        src: url('Fonts/Raleway-Bold.otf')format('opentype');
        }


 @font-face {
        font-family: 'Raleway';
	    font-style: italic;
		font-weight: 700;
        src: url('Fonts/Raleway-BoldItalic.otf')format('opentype');
        }
@font-face {
        font-family: 'Raleway';
	    font-style: normal;
		font-weight: 800;
        src: url('Fonts/Raleway-ExtraBold.otf')format('opentype');
        }


 @font-face {
        font-family: 'Raleway';
	    font-style: italic;
		font-weight: 800;
        src: url('Fonts/Raleway-ExtraBoldItalic.otf')format('opentype');
        }
@font-face {
        font-family: 'Raleway';
	    font-style: normal;
		font-weight: 900;
        src: url('Fonts/Raleway-Black.otf')format('opentype');
        }


 @font-face {
        font-family: 'Raleway';
	    font-style: italic;
		font-weight: 900;
        src: url('Fonts/Raleway-BlackItalic.otf')format('opentype');
        }


 /*--------------- OLi------*/
@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-HeavyItalic.woff2') format('woff2'),
        url('Fonts/OliGroteskL-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-Bold.woff2') format('woff2'),
        url('Fonts/OliGroteskL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-LightItalic.woff2') format('woff2'),
        url('Fonts/OliGroteskL-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-Heavy.woff2') format('woff2'),
        url('Fonts/OliGroteskL-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-Light.woff2') format('woff2'),
        url('Fonts/OliGroteskL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-BoldItalic.woff2') format('woff2'),
        url('Fonts/OliGroteskL-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-Thin.woff2') format('woff2'),
        url('Fonts/OliGroteskL-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-Medium.woff2') format('woff2'),
        url('Fonts/OliGroteskL-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-BlackItalic.woff2') format('woff2'),
        url('Fonts/OliGroteskL-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-RegularItalic.woff2') format('woff2'),
        url('Fonts/OliGroteskL-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-Hairline.woff2') format('woff2'),
        url('Fonts/OliGroteskL-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-Regular.woff2') format('woff2'),
        url('Fonts/OliGroteskL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-MediumItalic.woff2') format('woff2'),
        url('Fonts/OliGroteskL-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Oli';
    src: url('OliGroteskL-Black.woff2') format('woff2'),
        url('OliGroteskL-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-ThinItalic.woff2') format('woff2'),
        url('Fonts/OliGroteskL-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Oli';
    src: url('Fonts/OliGroteskL-HairlineItalic.woff2') format('woff2'),
        url('Fonts/OliGroteskL-HairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

