﻿/*se necesita hacer que esto se escriba automaticamente. o pasarlo a aws*/
@font-face {
    font-family: 'pap';
    /*  src: url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    src: url('Fonts/pap.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}   
/*--------------- Versus-BlackExtended ----------*/
@font-face {
        font-family: 'Versus-BlackExtended';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/Versus-BlackExtended DEMO.otf')format('opentype');
        }
/*--------------- Clan OT ----------*/
@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ClanOT-Book.otf')format('opentype');
        }


 @font-face {
        font-family: 'Clan OT';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/FontFont - ClanOT-BookItalic.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 700;
        src: url('Fonts/ClanOT-Bold.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: italic;
		font-weight: 700;
        src: url('Fonts/FontFont - ClanOT-BoldItalic.otf')format('opentype');
        }


@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/ClanOT-Medium.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: italic;
		font-weight: 500;
        src: url('Fonts/FontFont - ClanOT-MediumItalic.otf')format('opentype');
        }


@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 800;
        src: url('Fonts/ClanOT-Black.otf')format('opentype');
        }


@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 300;
        src: url('Fonts/ClanOT-News.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: italic;
		font-weight: 300;
        src: url('FontFont - ClanOT-NewsItalic.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 100;
        src: url('ClanOT-Thin.otf')format('opentype');
        }

@font-face {
        font-family: 'Clan OT';
	    font-style: normal;
		font-weight: 900;
        src: url('Fonts/ClanOT-Ultra.otf')format('opentype');
        }
/*--------------- ITC Franklin Gothic Book ----------*/
@font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-Book.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: italic;
		font-weight: normal;
        src: url('ITCFranklinGothicStd-BookIt.otf')format('opentype');
        }


@font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: normal;
		font-weight: 900;
        src: url('Fonts/ITCFranklinGothicStd-Hvy.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: italic;
		font-weight: 900;
        src: url('Fonts/ITCFranklinGothicStd-HvyIt.otf')format('opentype');
        }


@font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/ITCFranklinGothicStd-Med.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book';
	    font-style: italic;
		font-weight: 500;
        src: url('ITCFranklinGothicStd-MedIt.otf')format('opentype');
        }

 /*------------CONDENSED-----------------------------------------------------*/
@font-face {
        font-family: 'ITC Franklin Gothic Book Condensed';
	    font-style: normal;
		font-weight: normal;
    src: url('ITCFranklinGothicStd-Book Condensed.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book Condensed';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-BkCdIt.otf')format('opentype');
        }
 /*------------COMPRESED-----------------------------------------------------*/
@font-face {
        font-family: 'ITC Franklin Gothic Book Compresed';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-BkCp.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Book Compresed';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-BkCpIt.otf')format('opentype');
        }

 @font-face {
        font-family: 'ITC Franklin Gothic Book Compresed';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/ITCFranklinGothicStd-BkXCp.otf')format('opentype');
        }
 /*---------------Demi----------*/
@font-face {
        font-family: 'ITC Franklin Gothic Demi';
	    font-style: normal;
		font-weight: normal;
        src: url('ITCFranklinGothicStd-Demi.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Demi';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DemiIt.otf')format('opentype');
        }
 /*------------CONDENSED-----------------------------------------------------*/
@font-face {
        font-family: 'ITC Franklin Gothic Demi Condensed';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DmCd.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Demi Condensed';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DmCdIt.otf')format('opentype');
        }
 /*------------COMPRESED-----------------------------------------------------*/
@font-face {
        font-family: 'ITC Franklin Gothic Demi Compresed';
	    font-style: normal;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DmCp.otf')format('opentype');
        }


 @font-face {
        font-family: 'ITC Franklin Gothic Demi Compresed';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/ITCFranklinGothicStd-DmCpIt.otf')format('opentype');
        }

 @font-face {
        font-family: 'ITC Franklin Gothic Demi Compresed';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/ITCFranklinGothicStd-DmXCp.otf')format('opentype');
        }


 /*--------------- AbsaraSans ----------*/
@font-face {
        font-family: 'AbsaraSans';
        font-style: normal;
		font-weight: normal;
        src: url('Fonts/AbsaraSans-Regular.otf')format('opentype');
        }

 @font-face {
        font-family: 'AbsaraSans';
	    font-style: italic;
		font-weight: normal;
        src: url('Fonts/AbsaraSans-RegularItalic.otf')format('opentype');
        }


 @font-face {
        font-family: 'AbsaraSans';
	    font-style: normal;
		font-weight: bold;
        src: url('Fonts/AbsaraSans-Bold.otf')format('opentype');
        }

  @font-face {
        font-family: 'AbsaraSans';
	    font-style: italic;
		font-weight: bold;
        src: url('Fonts/AbsaraSans-BoldItalic.otf')format('opentype');
        }


 @font-face {
        font-family: 'AbsaraSans';
	    font-style: normal;
		font-weight: 300;
        src: url('Fonts/AbsaraSans-Light.otf')format('opentype');
        }

 @font-face {
        font-family: 'AbsaraSans';
	    font-style: italic;
		font-weight:300;
        src: url('Fonts/AbsaraSans-LightItalic.otf')format('opentype');
        }
  @font-face {
        font-family: 'AbsaraSans-Medium';
	    font-style: normal;
		font-weight: 500;
        src: url('Fonts/AbsaraSans-Medium.otf')format('opentype');
        }

 @font-face {
        font-family: 'AbsaraSans-MediumItalic';
	    font-style: italic;
		font-weight: 500;
        src: url('Fonts/AbsaraSans-MediumItalic.otf')format('opentype');
        }


 @font-face {
        font-family: 'AbsaraSans';
	    font-style: normal;
		font-weight: 100;
        src: url('Fonts/AbsaraSans-Thin.otf')format('opentype');
        }

 @font-face {
        font-family: 'AbsaraSans';
	    font-style: Italic;
		font-weight: 100;
        src: url('Fonts/AbsaraSans-ThinItalic.otf')format('opentype');
        }
