﻿#divPrincipal {

    width:100%;
    height:auto;
    background-color:#D1D3D4;
    color: #373E4E;

}

.toolTip_image {

     background:url('/img/toolTip.gif');

}

.divAgregarSeccion {

    width:100%;
    height:40px;
    height:4rem;  
    text-align:center;
    vertical-align:middle;
    background-color:#373E4E;
}


.divOpciones {
    width: 100%;
    height: 40px;
    height: 4rem;
    text-align: right;
    vertical-align: middle;
    /*background-color:#373E4E;*/
    background-color: white;
}

 .divOpciones div {
    
    margin-right:10px;
    
    }

 .divOpcionesHTML {

    width:100%;
    height:40px;
    height:4rem;  
   
    text-align:right;
    vertical-align:middle;
    /*background-color:#373E4E;*/
    background-color:white;

}

#divOpciones {

    float:right;
   
}



#ContentPlaceHolder1_divTreeView #divTreeView {
    
    float:left;

    /*border-left:solid 1px #D1D3D4;
    border-right:solid 1px #D1D3D4;

    border-left:solid .1rem #D1D3D4;
    border-right:solid .1rem #D1D3D4;

    border-bottom:solid .1rem #D1D3D4;
    border-bottom:solid .1rem #D1D3D4;

    border-bottom:solid 1px #D1D3D4;
    border-bottom:solid 1px #D1D3D4;*/

    background-color:#FFFFFF;

    margin-left:5px;
    margin-left:.5rem;
   
    max-width:200px;
    min-width:200px;

    max-width:21rem;
    min-width:21rem;

    margin-top:20px;
    margin-top:2rem;
}




#divFondo {

    max-width:70%;
    min-width:70%;
    float:left; 
    margin-left:10px;
    /*border:solid 1px #D1D3D4;*/
    margin-top:20px;
    margin-top:2rem;
    background-color:#FFFFFF;
}

#divTree {

    margin-left:10px;
}

.TreeView:hover {
    
    font-weight:bold;
   
    }

/*ESTILOS BLOQUE TEXT EDITOR*/
#divOpciones {

    position:static;
    float:right;

}

#divMainTemplate {

    margin-top:20px;
    margin-top:2rem;
    margin-left:20px;
    margin-left:2rem;
    vertical-align:top;
    border: solid 1px #D1D3D4;

}

/*Estilos Rich Texbox*/

.ajax__html_editor_extender_container {

    width:100% !important;
     /*background:#7E858E;*/ 
}

.ajax__html_editor_extender_button {

    /*color:black;
    border:solid 0px #7E858E;*/
}

#ContentPlaceHolder1_HtmlEditorExtender2_popupDiv {

    width:0;
    height:0;

}

.divRichTexbox {
   
    width:100%;

}

/*Estilos del editor*/

.divEdicion {

    width:100%;
    height:auto;
    margin-top:10px;
    margin-left:5px;
    float:right;

}

.divTitulos {
    font-weight:bold;
    font-size:150%;
    color:#7E858E;
    margin-left:15px;
    margin-top:10px;
    margin-bottom:10px;

}

.divEditorTexto {

    height:auto;
    /*margin-top:10px;*/
    /*margin-left:5px;*/
    float:right;
    width:100%;


}

.btnEditarHTML {
    margin-top:21px;
    margin-top:1.5rem;
}
.btnPublicarHTML {

    margin-top:-25px;
    margin-top:-2rem;
}

/*Estilos del editor*/

.divHTML {


    margin-top:20px;
    margin-top:2rem;

}

/*Opciones popUp eliminar*/
.contenidoCentrar {
    text-align:center;

}
.divConfirmarEliminar {

   height:200px !important;

}
/*Opciones popUp eliminar*/



/*ESTILOS PRA LAS PLANTILLAS*/

.divTemplate {
    margin:auto;
    width:95%;
    min-height:100px;
    margin-bottom:10px;

}



.divTemplateTitulo {
    margin-top:10px;
    text-align:center;
}

/*Agregar texto en una sola columna.*/

.divTemplateTexto {
    margin-top:20px;
    text-align:justify;
}


/*al editar el template salen las rayitas punteadas*/
.divTemplateEdit {
     border: dashed  2px #D1D3D4;
     padding: 30px;
     height:auto;

}

.divTemplateEdit div>div[onclick]:hover  {
    border: dashed 1px #D1D3D4;
    cursor:default;
}


/*Version 2.0 Nuevos Estilachos*/

#ContentPlaceHolder1_divOcultatree #divOcultatree {

    color:#23719f;
    margin-left:10px;
    cursor:default;

}