﻿body {
}

/* Para evitar margenes y espacios */
* { 
    margin: 0; 
    padding: 0; 
}
 
#page {
    width: 1024px;
    min-width:1024px;
    margin: 0 auto;
    background-color:#fff;
    padding:0;
    border-bottom:65px solid #444;
}
 
#cabeza {
    background-image:url('../Images/Site/CabezaIdentidad.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:100% auto;
    width:100%; 
    height:250px;
    min-height:250px;
    image-rendering:optimizeSpeed;
   
}
 
#menu-contenedor {
    display: flexbox;
    display: -ms-flexbox;
    display: -webkit-box;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: initial;
    height: 73px;
    z-index:10;
    flex-wrap:wrap;
}
 
ul#menu {
    width:1024px;
    background-color: #fff;
    padding: 0;
    border-top:1px solid #D1D3D4;
    border-bottom:1px solid #D1D3D4;
}
 
ul#menu li 
{
    display: inline-block;
    background-color: #fff;
}

    ul#menu li:first-child 
    {
        background-color: #fff;
        background-image:url('/Images/Site/ID.png');
        background-repeat:no-repeat;
        background-position:center;
        background-size:50px auto;
        font-size:1px!important;
        margin-left:35px!important;
        padding:0 50px;
    }
 
    ul#menu li:first-child:hover 
    {
        background-image:url('/Images/Site/ID.png');
    }

ul#menu li a 
{

    display: table-cell!important;
    line-height: 70px;
    /*min-width: 75px;*/
    /*padding: 0 2.5rem;*/
    padding: 0 30px;
    border-right: 0 dotted #444;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    vertical-align:middle;
    color: #444;
    display: block;
    font-weight:bold;

     /*-webkit-box-shadow: 0px 0px 3px 3px rgba(171,171,171,1);
    -moz-box-shadow: 0px 0px 3px 3px rgba(171,171,171,1);
    box-shadow: 0px 0px 3px 3px rgba(171,171,171,1);*/

    /*-webkit-text-shadow: 0 1px 0 #000;
    text-shadow: 0 1px 0 #000;*/

    /*transition: transform .1s;*/
    
    -moz-transition: all .1s ease-in;
    /* WebKit */
    -webkit-transition: all .1s ease-in;
    /* Opera */
    -o-transition: all .1s ease-in;
    /* Standard */
    transition: all .1s ease-in;
}

.Seleccionado {

    text-decoration:underline;
    color: black;
    font-weight:bold;

    -moz-transition: all .1s ease-in;
    /* WebKit */
    -webkit-transition: all .1s ease-in;
    /* Opera */
    -o-transition: all .1s ease-in;
    /* Standard */
    transition: all .1s ease-in;

}

ul#menu li a:hover {

    color: #000;
    font-weight:bold;

    /*transform: scale(1.1, 1.1);
    transition: transform .1s;*/

    -moz-transition: all .1s ease-in;
    /* WebKit */
    -webkit-transition: all .1s ease-in;
    /* Opera */
    -o-transition: all .1s ease-in;
    /* Standard */
    transition: all .1s ease-in;
}

ul#menu li a:active {
    color: #444;
    background-color: #444;
    font-weight:bold;

        -moz-transition: all .1s ease-in;
    /* WebKit */
    -webkit-transition: all .1s ease-in;
    /* Opera */
    -o-transition: all .1s ease-in;
    /* Standard */
    transition: all .1s ease-in;
}

#contenido {
    /*height:50rem;*/
    height:auto;
    /*background:#D1D3D4;*/
    /*padding:1rem;*/
}
 
.menu-fijo {
    position: fixed;
    top: 0;
    width:100%;
}