﻿
#menuSuperior-contenedor {
    display: flexbox;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: end;
    height: 65px;
    width: 1024px;
    background-color: #fff;
}
 
ul#menuSuperior {
    background-color: transparent;
    text-align:right;
    text-align:-moz-right;
}
 
ul#menuSuperior li {
    display: inline-block;
    background-color: transparent;
}
 
ul#menuSuperior li a {
    display: block;
    line-height: 2.5rem;
    line-height: 35px;
    display: block;
    min-width: 3rem;
    padding: 0 2rem;
    border-right: 1px dotted #fff;
    text-decoration: none;
    text-align: center;
    color: #000000;

    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

ul#menuSuperior li a:hover {
    color: #787878;
    font-weight:500;
    text-decoration:underline;
    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

ul#menuSuperior li a:active {
    color: #787878;
    background-color: #787878;
}
 
.menu-fijo {
    position: fixed;
    top: 0;
    width:100%;
}

#LogoIdentidad {
    margin-left:50px;
    margin-top:20px;
    width:148px;
    height:28px;
    background-repeat:no-repeat;
    background-image: url('../Images/Site/LogoPrincipal.png');
}