﻿#menuSuperior-contenedor {
    font-size:85%;
    font-weight:bold;

    /*display: flexbox;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;*/
    flex-wrap:wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: end;

    height: 35px;
    background-color: #444;
}
 
/*ul#menuSuperior {
    background-color: #444;
    text-align:right;
    text-align:-moz-right;
}*/
 
ul#menuSuperior li {
    display: inline-block;
    background-color: #444;
}
 
ul#menuSuperior li a {
    display: block;
    line-height: 2.5rem;
    line-height: 35px;
    display: block;
    min-width: 3rem;
    padding: 0 2rem;
    border-right: 1px dotted #444;
    text-decoration: none;
    text-align: center;
    color: #ffffff;

    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

ul#menuSuperior li a:hover {
    color: #787878;
    font-weight:500;

    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

ul#menuSuperior li a:active {
    color: #787878;
    background-color: #787878;
}
 
.menu-fijo {
    position: fixed;
    top: 0;
    width:100%;
}
