﻿
html 
{
    /* font-size 62.5% makes 1rem equal 10px for easy size calculations. */
    font-size: 80%;

    height: 100%;
}

body 
{

        font-family: font-family: 'Open Sans', sans-serif; 
    margin: 0;
    background-color: #CBD3D3;
    /* Default font-size to about 18px */
    -webkit-animation-duration: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix{
	from{ 	opacity: 1; }
	to{	opacity: 1; }
}
hr 
{
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 0px solid #D1D3D4;
    margin: 1em 0; 
    padding: 0; 
    text-align:center;
    width:100%;
}

/* Para evitar margenes y espacios */
* 
{ 
    margin: 0rem; 
    padding: 0rem; 
}

.modalBackground 
{ 
    background-color: #D1D3D4; 
    filter:alpha(opacity=70); 
    opacity:0.7; 
}

.divWaiting
{

    display:table;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    padding-top:25%;
    opacity: .9;
    overflow: hidden;
    z-index: 2147483647 !important;
    margin: 0;

    background-size:100% 100%;
    background-color: white;
    background-position:center!important;

    width: 100%!important;
    height: 100%!important;

    transition:transform .1s;

    -moz-transition:transform .1s;
    -webkit-transition:transform .1s;
    -o-transition:transform .1s;
    transition: all .1s ease-in;
} 

#page 
{
    /*-webkit-box-shadow: 0px 0px 30px 0px #000000;
    -moz-box-shadow: 0px 0px 30px 0px #000000;
    box-shadow: 0px 0px 30px 0px #000000;*/
}

.divPopup 
{
    width:550px;
    height:300px;
    border:none;
    border-color:none;
    background-color:white;

    -webkit-box-shadow: 0px 0px 30px 0px #444;
    -moz-box-shadow: 0px 0px 30px 0px #444;
    box-shadow: 0px 0px 30px 0px #444;

}


.mGrid 
{  

    background-color: #fff;  
    margin: 5px 0 10px 0;  
    border: none 0px white;  
    border-collapse: collapse;  
    border-top:none;
    border:none;
}
  
    .mGrid td 
    {  
        padding-top:8px;
        padding-bottom:8px;
        padding-left:20px;
        padding-right:15px;
        border:none 0 #D1D3D4; 
        color: #787878;  
        border:none;
    }  

  
    .mGrid th 
    {  
        border:none;
        color: #fff;  
        border-left: none 0px white;  
    }

    .tdGrid th{
        color:#000;
    }

    .mGrid .alt 
    {  
        border:none;
    }  
  
    .mGrid .pgr 
    { 
        border:none; 
    }  
  
        .mGrid .pgr table 
        { 
            border:none;
            border:none 0px white; 
            margin: 5px 0;  
        }  
  
        .mGrid .pgr td 
        {  
            border:none;
            border-width: 0;  
            padding: 0 6px;  
            border-left: none 0px white;  
            font-weight: bold;  
            color: #fff;  
            line-height: 12px;  
        }  
  
            .mGrid .pgr a:hover 
            {  
                border:none;
                color: #000;  
                text-decoration: none;  
            } 


/*Estilos para tablas*/

.divTabla 
{
    width:600px;
    height:300px;
    border:none;
    border-color:none;
    background:white;

    padding: 20px;
    border-radius: 0px;
  
      -webkit-box-shadow: 0px 0px 30px 0px #444;
    -moz-box-shadow: 0px 0px 30px 0px #444;
    box-shadow: 0px 0px 30px 0px #444;

    /*-webkit-box-shadow: 2px 2px 2px 2px rgba(171,171,171,171);
    -moz-box-shadow:    2px 2px 2px 2px rgba(171,171,171,171);
    box-shadow:         2px 2px 2px 2px rgba(171,171,171,171);*/
    
    /*-webkit-box-shadow: 0px 0px 3px 3px rgba(171,171,171,1);
    -moz-box-shadow: 0px 0px 3px 3px rgba(171,171,171,1);
    box-shadow: 0px 0px 3px 3px rgba(171,171,171,1);*/
}

.divTablaTitulo
{   
    width:  90%;
    height: 50px;
    float:left;
    text-align:left;
}

.divTablaTitulo span
{
    display: inline-block;
    margin:10px 10px 0 0;
    padding:5px 10px;
    font-weight:normal;
    font-family: 'open sans regular', sans-serif;
    color:#000000;
    font-size:175%;
    font-weight:bold;
}

.divTablaTituloImagen
{   
    width:  auto;
    height: 50px;
    float:right;
}

.divTablaTituloImagen img
{
     border:solid 0px #D1D3D4;
     margin-top:9px;
     margin-right:10px;
     border-radius: 3px; 
     border-radius: .3rem; 
    -webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: 3px;
    -moz-border-radius: .3rem;

}

.divTablaTituloImagen img:hover
{
     cursor:default;
}

.divValidacion 
{    
     cursor: default;
     /*border: solid 1px #ff0000;
     background:#ff0000;*/
    -webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: 3px;
    -moz-border-radius: .3rem;
     border-radius: 3px; 
     border-radius: .3rem; 
    
     min-width:180px;
     min-width:13rem;
     
     height:25px;
     height:2rem;
    
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
     color:#ff0000;
     margin-left:10px;
     float:left;
     text-align:center;
}

.divValidacionVerde 
{
     /*border: solid 1px #FF008C;
     background:#ffa5d6;*/
     color:#FF008C;
}

 hr
 {
   width:  100%;
   background: #D1D3D4;
   clear:both;   
 }

.divTBODY 
{

}

.divTR
{
    font-family: 'open sans regular', sans-serif;

    color:#787878;
    width:100%;
    height: 30px;
    margin-top:10px;  
}

.divTDIzq
{    
   width:35%;
   height:auto;
   float:left;
   text-align:right;
   margin:5px 5px 0 0;
   padding:2.5px 5px;  
}

.divTDIzq span
{
      margin-right:10px;
  
}

.divTDDerechoInput{

   width:auto;
   height: 40px;
    margin-left: 80px;
}

.divTDDerechoInput input{

    margin-left:10px;
    padding:3px;
    border:solid 1px #DEDEDE;
}

.divTDDerechoInput a {


     margin-left:10px;
    
    }

.divTDDerechoButtons {

    margin-left:10px;
}

.divTDCentrado {
    width:80%;
    padding-left:50px;
}

/*Estilos botones*/

.buttons {

    padding: 5px 15px;
    padding: .5rem .15rem; 
    border:0 none;
    cursor:default;
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    border-radius: 3px; 
    border-radius: .3rem;*/ 
    width:auto;
    min-width: 90px;
    height:35px;
    height:2.5rem;
    padding: 0px 10px 0px 10px;
    display:inline-block; 
    vertical-align:middle;
    font-weight:normal;
    font-family:'open sans regular', sans-serif;
    color:white;
}

.buttons:hover {

    -webkit-box-shadow: 0px 0px 7px 0px #D1D3D4;
    -moz-box-shadow: 0px 0px 7px 0px #D1D3D4;
    box-shadow: 0px 0px 7px 0px #D1D3D4;
   
 }

.buttons:focus 
{
     outline:0px;
}

/*Estilo TEXTBOXES*/

.TextBox {
     
    cursor:default;
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: 3px;
    -moz-border-radius: .3rem;
     border-radius: 3px; 
     border-radius: .3rem;*/ 
     border:solid 1px #D1D3D4;
     /*width:200px;*/
     min-width:200px;
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
     color:#787878;
     resize:none;
       
     /*box-shadow: 2px 2px 2px #7E858E;
    -moz-box-shadow: 2px 2px 2px #7E858E;
    -webkit-box-shadow: 2px 2px 2px #7E858E;
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f4f4f4');*/
}

.TextBox1 {
     
    cursor:default;
    -webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: 3px;
    -moz-border-radius: .3rem;
     border-radius: 3px; 
     border-radius: .3rem; 
     border:solid 1px #D1D3D4;
     height:25px;
     height:2rem;
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
     color:#787878;
     resize:none;
       
    
}

.TextBox:enabled
{
     border:solid 1px #D1D3D4;
     /*width:200px!important;*/
     min-width:200px!important;
     height:25px;
     height:2rem;
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
     color:#787878;
     resize:none;
}

.TextBox:hover 
{
    border:solid 1px #a9a9a9!important;
}

.TextBox:focus 
{ 
    border:solid 1px #FF008C!important;
}

.TextBoxError
{ 
     cursor:default;
    -webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: 3px;
    -moz-border-radius: .3rem;
     border-radius: 3px; 
     border-radius: .3rem; 
     border:solid 1px #ff0000!important;
     
     /*Le puse 250 para que quepa el correo */
     width:200px;
     min-width:200px;
     height:25px;
     height:2rem;
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
     color:#D1D3D4;
     resize:none;
}

.TextBoxError:hover {
    border:solid 1px #d50000;
}

.TextBoxError:focus 
{ 
    border:solid 1px #ff0000;
}

.Multiline 
{
    margin-left:10px;
    width:207px!important;
    min-width:207px!important;
    resize:none;
    
    border:solid 1px #D1D3D4;
     height:25px;
     height:2rem;
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
     color:#787878;
}

/* Estilo DropDownList*/

.DropDownList {  
    cursor:default;
    
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: 3px;
    -moz-border-radius: .3rem;
     border-radius: 3px; 
     border-radius: .3rem;*/ 

     border:solid 1px #DEDEDE;

     margin-left:10px;
     width:210px;
     min-width:210px;
     
     height:30px;
    
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
     color:#787878;
     /*box-shadow: 2px 2px 2px #7E858E;
    -moz-box-shadow: 2px 2px 2px #7E858E;
    -webkit-box-shadow: 2px 2px 2px #7E858E;
    background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f4f4f4');*/
}

.DropDownList:hover {
    border:solid 1px #a9a9a9;
}

.DropDownList:focus 
{ 
    /*border:solid 1px #5AB247;*/
    border:solid 1px #FF008C;
} 

.colorGris {

     background:#D1D3D4; 
}

.colorwhite {

     border:solid 1px #D1D3D4;
     border:solid .1rem #D1D3D4;
     background:white; 
     color:#787878;
}

.colorAzulO {

    /*background:#0060FF;*/
    background:#00AAFF;
}

.colorVerde {
    
    /*background:#5AB247;*/
    /*background:#00AF66;*/
    background:#FF008C;
}

.colorRojo {
    
    background:#ff0000;
}

.alinear {

    margin-top:9px;
    margin-top:.9rem;
}

.divFondoPagina{
    width:100%;
    font-family: 'open sans regular', sans-serif;
    color:#787878;
    height:auto;    
    overflow:auto;
    border:none;
    /*border:solid 1px #D1D3D4;*/
    max-width:100%;
    min-width:100%;
    background-color:#FFFFFF;
        /*border-radius: 5px;*/
}

.fuenteTitulo {
    font-family: 'open sans regular', sans-serif;
    font-size:175%;
    color:#000000;
    font-weight:bold;
}

.divTituloCentrado {
    width:90%;
    text-align:left;
    margin-left:50px;
    margin-top:30px;
    margin-bottom:30px;
}

.Derecha {
    text-align:right;
}

.Izquierda {
    text-align:left;
}

.Centro {
    text-align:center;
}

a {
     cursor:default;
     text-decoration:none;
     /*color:#00AAFF;*/
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
}

a:hover {
     cursor:default;
     text-decoration:none;
     /*color:#FF008C;*/
     /*font-weight:normal;*/
     font-family: 'open sans regular', sans-serif;
}

.modalBackground { 

background-color: #000000; 
filter:alpha(opacity=70); 
opacity:0.7; 

}

hr {
    color:#D1D3D4;
    width:99%;
}

/*tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
background: #DEDEDE!important;
}*/

.imgCircular {
    /*border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;*/
    overflow: hidden;
    float: right;
}

.imgSemicircular 
{
    -webkit-border-radius: 5px 10px;
    -moz-border-radius: 5px 10px;
}

.divImgUsuarioMenu 
{
    /*width:auto;*/ 
    width:45px; 
    height:35px;
    margin-right:35px;
}

.imgUsuarioMenu 
{
     width:45px;
     height:100%;
     image-rendering:optimizeSpeed;
}

/* TOOLTIP*/
/*Al elemento que le queramos poner tooltip le ponemos hover*/
.hover 
{
    position:relative;
}

/*Ponemos un div con la class tooltip y texto*/
.tooltip 
{
    /* hide and position tooltip */
    font-family: 'open sans regular', sans-serif;
    font-weight:normal;
    top:1px;
    left:1px;
    color:#444;
    background-color:white;
    border-radius:0px;
    opacity:0;
    position:absolute;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.hover:hover .tooltip 
{ 
    /* display tooltip on hover */
    opacity:1;
}
/* TOOLTIP*/

.Popup 
{
    position:fixed; 
    left:0; 
    right:0; 
    top:7%; 
    margin:auto; 
    display:table-cell; 
    vertical-align:middle;
}

.divCajaGris 
{
    color:white;
    background-color:#D1D3D4;
    padding:8px;
    
    /*text-decoration:underline;*/
}

.visible{
    display:block!important;
}

.invisible {
    display:none!important;
}

.cursorgvw{
    cursor:pointer;
}