/* this is the way to use a font direct from the resource like a ttf file and woff file*/

@font-face {
  font-family: 'AmaticSC-Regular';
/*  src: url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   src: url('AmaticSC-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  
