﻿
.panelEdicion {

    background:#fff;
    border: 1px solid #ddd;
    height:auto !important;
    min-height:600px !important;
}

.menud {

    background:#fff;
    border: 1px solid #ddd;
}

.menu-fijo {

position: relative;
}

.divAgregarSeccion {

    max-width:280px;
    min-width:280px;
    height:40px;
    height:4rem;  
    text-align:center;
    vertical-align:middle;
    /*background-color:#373E4E;*/

}

.TextMenu {

    -webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: 3px;
    -moz-border-radius: .3rem;
     border-radius: 3px; 
     border-radius: .3rem; 
     border:solid 1px #DEDEDE;
     
     /*Le puse 250 para que quepa el correo */
     width:150px;
     min-width:150px;
     /*min-width:15rem;*/
     
     height:25px;
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
     color:#7E858E;
     font-size:13px;
     resize:none;
      
}

.divOpciones {
    width: 95%;
    height: 40px;
    height: 4rem;
    text-align: right;
    vertical-align: middle;
    margin-top:20px;
    background-color:#efefef;
    /*background-color:red;*/
    margin-left:auto;
    margin-right:auto;
    border:solid 1px #CCCCCC;

}

.divOpciones .buttons {
    margin-right:20px;
    width:auto;
    min-width:0px;
    text-align:center;
    }

.divTitulos {
    font-size: 25px;
    color: #000000;
    margin-left: 20px;
    margin-top: 20px;
}

.divTabla {
height:250px !important;
}


.divSeleccionPlantilla {
    height:500px !important;
}

.divAdvertencia {
color:blue;
text-align:center;
margin-bottom:5px;

}

#ContentPlaceHolder1_divHTML {

width:680px;
margin:auto;


}


/*Estilos para el editor de las plantillas*/


.divTemplate {
    margin:auto;
    width:95%;
    min-height:100px;
}



.divTemplateTitulo {
    margin-top:10px;
    text-align:center;


}

/*Agregar texto en una sola columna.*/

.divTemplateTexto {

    margin-top:20px;
    text-align:justify;
    width:auto;
    margin-bottom:10px;
    /*word-wrap: break-word;
    word-break: break-all;*/
    
}

.margen {
margin-left:20px;
margin-right:20px;



}
/*Agrega imagen*/

.divTemplateImagen{
    margin-top:20px;
    width:auto;
    background-color:#7E858E;
   /*imagen predeterminada
    background-color:#7E858E;
    background:url('..\\Pages\\img\\subirImagen.gif') no-repeat;*/
   background-size:100% 100%;

    min-height:100px;
    margin-bottom:10px;
}

/*Dos columnas imagen y texto*/

.divIzq {
    width: 45%;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}