﻿.checkbox-group {
    position:relative;
}
 
/* Hide Checkbox Input */
.checkbox-group input[type=checkbox] {
    display:none;
}
 
/* Style Label */
.checkbox-group label {
    padding-left:30px;
    cursor:pointer;
}
 
/* Style span tag */
.checkbox-group label span {
    display:block;
    position:absolute;
    left:0;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    transition-duration:.3s;
}
/* Style box */
.checkbox-group label .box {
    background:#d9e1e7;
    height:20px;
    width:20px;
    z-index:9;
    -webkit-transition-delay:.2s;
    -moz-transition-delay:.2s;
    transition-delay:.2s;
}
 
/* Style check icon. give it a border on the bottom and right only and then rotate */
.checkbox-group label .check {
    top:0;
    left:7px;
    width:7px;
    height:15px;
    border:2px solid #fff;
    border-top:none;
    border-left:none;
    opacity:0;
    z-index:10;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
    -webkit-transition-delay:.3s;
    -moz-transition-delay:.3s;
    transition-delay:.3s
}

.esp{
    padding-top:5px;
}

 .h1m
 {
     font-family:Arial;
     color:#fff;
     font-size:18px;
     font-weight:bold;
     padding-left:20px;
     padding-top:10px;
     
 }
/* Change color of box when checkbox is checked */
input[type=checkbox]:checked ~ label .box {
    background:#129fdd;
}
 
/* Rotate and show check icon when checkbox is checked */
input[type=checkbox]:checked ~ label .check {
    opacity:1;
    -webkit-transform:scale(1) rotate(45deg);
    -moz-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}