﻿#MySplitter {
      
    width: 1000px;
    height:600px;

}


.vsplitbar {
	   
    width: 5px;
    /*background: #d9d9d9;*/
    /*border: 1px #b3b3b3 solid;*/  
    background:#F4F4F6;
    /*border: 1px #d9d9d9 solid;*/
    border-left:1px #d9d9d9 solid;
}

#collapse {

     height:50px !important;
     width: auto;
     background:#575757;
     cursor:default;
	 margin-top:210px;

}

#collapse:hover {
     
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
     box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
       
}