﻿.wrapper {
   width: 10px;
   height:auto;
   cursor:help;
   position:relative;
   /*color:#3c9ba8;*/
   /*font-weight:200;*/
   /*text-align:left;*/
   /*float:left;*/
  -webkit-font-smoothing: antialiased;
   
}

 .wrapper span:first-child 
 {
    
    text-decoration: underline;
    
    }


.wrapper .tooltip {
    
    opacity: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px #444;
    -moz-box-shadow: 0px 0px 20px 0px #444;
    box-shadow: 0px 0px 20px 0px #444;
    border: solid #b7b1b1 1px;
    background: #fff;
    bottom: 100%;
    font-size:12px;
    color:#787878;
    display: block;
    left: 10px;
    top:-45px;
    margin-bottom: 15px;
    
    padding: 20px;
    pointer-events: none;
    position: absolute;
   
    min-width:100%;
    margin-left:7px;

    width:400px;
    height:auto;

     overflow-y:auto;

    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 0px 0px 20px 0px #444;
    -moz-box-shadow: 0px 0px 20px 0px #444;
    -ms-box-shadow: 0px 0px 20px 0px #444;
       -o-box-shadow: 0px 0px 20px 0px #444;
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            z-index:100000000;
            line-height:130%;
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  /*border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #fff 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;*/
}
  
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
   transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
  display: none;
}

.lte8 .wrapper:hover .tooltip {
  display: block;
}

.wrapper .wrapper .tooltip{

  display:none;
   
}

.tooltip {
   
    vertical-align:middle;
    max-height:150px;
    height:150px;
    min-height:150px;

}