@font-face {
	font-family: 'OpenSans Extra Bold';
	src: url('OpenSans-ExtraBold.eot');
	src: url('OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-ExtraBold.woff') format('woff'),
		url('OpenSans-ExtraBold.ttf') format('truetype'),
		url('OpenSans-ExtraBold.svg') format('svg');
}