@font-face {
	font-family: 'OpenSans Bold';
	src: url('OpenSans-Bold.eot');
	src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Bold.woff') format('woff'),
		url('OpenSans-Bold.ttf') format('truetype'),
		url('OpenSans-Bold.svg') format('svg');
}