body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/1/15/41?v=27082015095825')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/1/15/40?v=27082015095825')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/1/15/40?v=27082015095825')!important;

    }

.Id1 { font-family:'Merriweather Sans', sans-serif;  font-size:32px; font-weight:normal;   color: #6C9B3B; }

.Id2 { font-family:'Josefin Sans', sans-serif;  font-size:20px; font-weight:normal;   color: #004889; }

.Id3 { font-family:'Josefin Sans', sans-serif;  font-size:20px; font-weight:normal;   color: #004889; }



.Id5 { font-family:'Josefin Sans', sans-serif;  font-size:12px; font-weight:normal;   color: #F1A21E; }

.colorAzulO{
    background:#004889!important;
}

a:hover {
     color:#004889!important;
}