body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/220/16/2841?v=12092016095619')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/16/2842?v=12092016095619')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/16/2842?v=12092016095619')!important;

    }

.Id1 { font-family:Trebuchet;  font-size:32px; font-weight:Normal; color: #43B02A; }

.Id2 { font-family:'Signika', sans-serif;  font-size:16px; font-weight:Normal; color: #43B02A; }

.Id3 { font-family:'Signika', sans-serif;  font-size:14px; font-weight:Normal; color: #000000; }



.Id5 { font-family:'Signika', sans-serif;  font-size:12px; font-weight:Normal; color: #43B02A; }

.colorAzulO{
    background:#43B02A!important;
}

a:hover {
     color:#43B02A!important;
}

.imagenMosaico
{
    background-color:#43B02A!important;
}