body {
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/26/2/66?v=15042015123945')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:100% auto!important;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=15042015123945')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=15042015123945')!important;

    }

.Id1 { font-family:'Merriweather Sans', sans-serif;  font-size:20px; font-weight:bolder;   color: #64A70B; }

.Id2 { font-family:'Merriweather Sans', sans-serif;  font-size:16px; font-weight:normal; font-style:italic;  color: #64A70B; }

.Id3 { font-family:'Lato', sans-serif;  font-size:16px; font-weight:normal;   color: #CCCCCC; }

.Id4 { font-family:'Lato', sans-serif;  font-size:16px; font-weight:normal;   color: #CCCCCC; }

.Id5 { font-family:'Lato', sans-serif;  font-size:12px; font-weight:normal; font-style:italic;  color: #007A33; }

.colorAzulO{
    background:#6CC24A!important;
}

a:hover {
     color:#6CC24A!important;
}