body {
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/46/20/179?v=08062015123513')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:100% auto!important;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=08062015123513')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=08062015123513')!important;

    }

.Id1 { font-family:Verdana;  font-size:14px; font-weight:bolder;   color: #C4D600; }

.Id2 { font-family:Verdana;  font-size:10px; font-weight:bolder;   color: #C4D600; }

.Id3 { font-family:Verdana;  font-size:11px; font-weight:normal;   color: #3F4444; }

.Id4 { font-family:Verdana;  font-size:9px; font-weight:normal;   color: #3F4444; }

.Id5 { font-family:Verdana;  font-size:9px; font-weight:normal;   color: #64A70B; }

.colorAzulO{
    background:#64A70B!important;
}

a:hover {
     color:#64A70B!important;
}