body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/277/227/4449?v=19032018050531')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/277/227/4488?v=19032018050531')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/277/227/4488?v=19032018050531')!important;

    }

.Id1 { font-family:'Roboto Condensed', sans-serif;  font-size:30px; font-weight:Normal; color: #FF0000; }

.Id2 { font-family:'Roboto Condensed', sans-serif;  font-size:18px; font-weight:Normal; color: #57C9E8; }

.Id3 { font-family:'Roboto Condensed', sans-serif;  font-size:14px; font-weight:Normal; color: #231F20; }



.Id5 { font-family:'Roboto Condensed', sans-serif;  font-size:12px; font-weight:Normal; color: #57C9E8; }

.colorAzulO{
    background:#FF0000!important;
}

a:hover {
     color:#FF0000!important;
}

.imagenMosaico
{
    background-color:#FF0000!important;
}