body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/35/253/3560?v=03102016100414')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/35/253/3580?v=03102016100414')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/35/253/3580?v=03102016100414')!important;

    }

.Id1 { font-family:Arial;  font-size:36px; font-weight:Bold; color: #A391B1; }

.Id2 { font-family:Arial;  font-size:20px; font-weight:Normal; color: #FFD140; }

.Id3 { font-family:Arial;  font-size:16px; font-weight:Normal; color: #808080; }



.Id5 { font-family:Arial;  font-size:12px; font-weight:Normal; color: #A391B1; }

.colorAzulO{
    background:#3F2A55!important;
}

a:hover {
     color:#3F2A55!important;
}

.imagenMosaico
{
    background-color:#3F2A55!important;
}