body {
    background-color: #D0D0CE!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/35/263/4270?v=14112016021140')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/35/263/4059?v=14112016021140')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/35/263/4059?v=14112016021140')!important;

    }

.Id1 { font-family:'Amaranth', sans-serif;  font-size:38px; font-weight:Normal; color: #3EBFAC; }

.Id2 { font-family:'Amaranth', sans-serif;  font-size:24px; font-weight:Normal; color: #40B4E5; }

.Id3 { font-family:'Amaranth', sans-serif;  font-size:16px; font-weight:Normal; color: #9FA1A1; }



.Id5 { font-family:'Roboto', sans-serif;  font-size:12px; font-weight:Normal; color: #40B4E5; }

.colorAzulO{
    background:#3EBFAC!important;
}

a:hover {
     color:#3EBFAC!important;
}

.imagenMosaico
{
    background-color:#3EBFAC!important;
}