body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/299/262/3970?v=19102016050629')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=19102016050629')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=19102016050629')!important;

    }

.Id1 { font-family:'Montserrat', sans-serif;  font-size:30px; font-weight:Bold; color: #212721; }

.Id2 { font-family:'Abel', sans-serif;  font-size:20px; font-weight:Normal; color: #53565A; }

.Id3 { font-family:'Abel', sans-serif;  font-size:14px; font-weight:Normal; color: #888B8D; }



.Id5 { font-family:'Lato', sans-serif;  font-size:10px; font-weight:100; color: #D0D0CE; }

.colorAzulO{
    background:#373E4E!important;
}

a:hover {
     color:#373E4E!important;
}

.imagenMosaico
{
    background-color:#373E4E!important;
}