body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/333/267/8484?v=13022019121624')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/267/9045?v=13022019121624')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/267/9045?v=13022019121624')!important;

    }

.Id1 { font-family:Clan OT;  font-size:14px; font-weight:100; color: #B5BD00; }

.Id2 { font-family:Clan OT;  font-size:22px; font-weight:Normal; color: #B5BD00; }

.Id3 { font-family:Clan OT;  font-size:14px; font-weight:300;; color: #63666A; }



.Id5 { font-family:Clan OT;  font-size:12px; font-weight:100; color: #D0D0CE; }

.colorAzulO{
    background:#D0DF00!important;
}

a:hover {
     color:#D0DF00!important;
}

.imagenMosaico
{
    background-color:#D0DF00!important;
}