body {
    background-color: #F2ECDF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/9/274/4447?v=18012017091354')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/9/274/4446?v=18012017091354')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/9/274/4446?v=18012017091354')!important;

    }

.Id1 { font-family:'Alegreya', serif;  font-size:48px; font-weight:Normal; color: #B3A369; }

.Id2 { font-family:'Roboto', sans-serif;  font-size:22px; font-weight:300;; color: #B3A369; }

.Id3 { font-family:'Roboto', sans-serif;  font-size:16px; font-weight:Normal; color: #000000; }



.Id5 { font-family:'Roboto', sans-serif;  font-size:12px; font-weight:Normal; color: #B3A369; }

.colorAzulO{
    background:#373E4E!important;
}

a:hover {
     color:#373E4E!important;
}

.imagenMosaico
{
    background-color:#373E4E!important;
}