body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/258/273/4535?v=02022017122035')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=02022017122035')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=02022017122035')!important;

    }

.Id1 { font-family:'Montserrat', sans-serif;  font-size:36px; font-weight:Bold; color: #EF3742; }

.Id2 { font-family:'Montserrat', sans-serif;  font-size:20px; font-weight:Bold; color: #000000; }

.Id3 { font-family:'Open Sans', sans-serif;  font-size:16px; font-weight:300;; color: #000000; }



.Id5 { font-family:'Open Sans', sans-serif;  font-size:12px; font-weight:300;; color: #000000; }

.colorAzulO{
    background:#154396!important;
}

a:hover {
     color:#154396!important;
}

.imagenMosaico
{
    background-color:#154396!important;
}