body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/220/295/4958?v=05122017100318')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/295/4905?v=05122017100318')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/295/4905?v=05122017100318')!important;

    }

.Id1 { font-family:'Ubuntu', sans-serif;  font-size:25px; font-weight:500;; color: #F4364C; }

.Id2 { font-family:'Ubuntu', sans-serif;  font-size:18px; font-weight:Normal; color: #963CBD; }

.Id3 { font-family:'Ubuntu', sans-serif;  font-size:14px; font-weight:300;; color: #470A68; }



.Id5 { font-family:'Ubuntu', sans-serif;  font-size:12px; font-weight:300;; color: #963CBD; }

.colorAzulO{
    background:#470A68!important;
}

a:hover {
     color:#470A68!important;
}

.imagenMosaico
{
    background-color:#470A68!important;
}