body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/456/306/6496?v=27092018100457')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/306/6105?v=27092018100457')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/306/6105?v=27092018100457')!important;

    }

.Id1 { font-family:Georgia, serif;  font-size:12px; font-weight:Normal; color: #B3A369; }

.Id2 { font-family:Georgia, serif;  font-size:22px; font-weight:Normal; color: #1B365D; }

.Id3 { font-family:'Roboto', sans-serif;  font-size:18px; font-weight:100; color: #000000; }



.Id5 { font-family:'Roboto', sans-serif;  font-size:12px; font-weight:100; color: #B3A369; }

.colorAzulO{
    background:#C8C9C7!important;
}

a:hover {
     color:#C8C9C7!important;
}

.imagenMosaico
{
    background-color:#C8C9C7!important;
}