body {
}

#cabeza {
    background-image:url('/Images/Site/CabezaIdentidad.png?v=28052015115119')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:100% auto!important;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=28052015115119')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=28052015115119')!important;

    }

.Id1 { font-family:Helvetica;  font-size:16px; font-weight:normal;   color: #D0006F; }

.Id2 { font-family:Helvetica;  font-size:14px; font-weight:normal; font-style:italic;  color: #00B5E2; }

.Id3 { font-family:Helvetica;  font-size:12px; font-weight:normal;   color: #00B5E2; }

.Id4 { font-family:Helvetica;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.Id5 { font-family:Helvetica;  font-size:10px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#373E4E!important;
}

a:hover {
     color:#373E4E!important;
}