body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/220/304/5055?v=04082017080542')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/304/5054?v=04082017080542')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/304/5054?v=04082017080542')!important;

    }

.Id1 { font-family:Arial;  font-size:28px; font-weight:Bold; color: #2D2926; }

.Id2 { font-family:Arial;  font-size:18px; font-weight:Bold; color: #2D2926; }

.Id3 { font-family:Arial;  font-size:14px; font-weight:Normal; color: #2D2926; }



.Id5 { font-family:Arial;  font-size:12px; font-weight:Normal; color: #DAAA00; }

.colorAzulO{
    background:#BBBCBC!important;
}

a:hover {
     color:#BBBCBC!important;
}

.imagenMosaico
{
    background-color:#BBBCBC!important;
}