body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/220/309/5425?v=12022018112852')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/309/5426?v=12022018112852')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/309/5426?v=12022018112852')!important;

    }

.Id1 { font-family:'Quattrocento', serif;  font-size:12px; font-weight:Normal; color: #534E4A; }

.Id2 { font-family:'Quattrocento', serif;  font-size:20px; font-weight:Normal; color: #95C944; }

.Id3 { font-family:'Quattrocento Sans', sans-serif;  font-size:16px; font-weight:Normal; color: #534E4A; }



.Id5 { font-family:'Quattrocento Sans', sans-serif;  font-size:12px; font-weight:Normal; color: #81BC41; }

.colorAzulO{
    background:#7B7673!important;
}

a:hover {
     color:#7B7673!important;
}

.imagenMosaico
{
    background-color:#7B7673!important;
}