body {
    background-color: #6E6259!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/78/300/5026?v=04082017123837')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/78/300/5027?v=04082017123837')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/78/300/5027?v=04082017123837')!important;

    }

.Id1 { font-family:'PT Serif', serif;  font-size:20px; font-weight:Normal; color: #6E6259; }

.Id2 { font-family:'PT Serif', serif;  font-size:15px; font-weight:Normal; color: #C8102E; }

.Id3 { font-family:'PT Sans', sans-serif;  font-size:16px; font-weight:Normal; color: #6E6259; }



.Id5 { font-family:'PT Sans', sans-serif;  font-size:12px; font-weight:Normal; color: #6E6259; }

.colorAzulO{
    background:#FF9E1B!important;
}

a:hover {
     color:#FF9E1B!important;
}

.imagenMosaico
{
    background-color:#FF9E1B!important;
}