body {
    background-color: #572D4F!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/405/317/5823?v=10012018125534')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=10012018125534')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=10012018125534')!important;

    }

.Id1 { font-family:'EB Garamond', serif;  font-size:36px; font-weight:Normal; color: #572D4F; }

.Id2 { font-family:'EB Garamond', serif;  font-size:20px; font-weight:Normal; color: #FBB041; }

.Id3 { font-family:'EB Garamond', serif;  font-size:16px; font-weight:Normal; color: #572D4F; }



.Id5 { font-family:'EB Garamond', serif;  font-size:12px; font-weight:Normal; color: #572D4F; }

.colorAzulO{
    background:#572D4F!important;
}

a:hover {
     color:#572D4F!important;
}

.imagenMosaico
{
    background-color:#572D4F!important;
}