body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/39/321/5660?v=25012018082450')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/39/321/5632?v=25012018082450')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/39/321/5632?v=25012018082450')!important;

    }

.Id1 { font-family:'Montserrat', sans-serif;  font-size:20px; font-weight:Bold; color: #000000; }

.Id2 { font-family:'Montserrat', sans-serif;  font-size:16px; font-weight:Normal; color: #6D4B4B; }

.Id3 { font-family:'Montserrat', sans-serif;  font-size:13px; font-weight:Normal; color: #000000; }



.Id5 { font-family:'Montserrat', sans-serif;  font-size:11px; font-weight:Normal; color: #BBB9AF; }

.colorAzulO{
    background:#333D47!important;
}

a:hover {
     color:#333D47!important;
}

.imagenMosaico
{
    background-color:#333D47!important;
}