body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/29/33/234?v=17092015101723')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=17092015101723')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=17092015101723')!important;

    }

.Id1 { font-family:Helvetica;  font-size:40px; font-weight:normal;   color: #002659; }

.Id2 { font-family:Helvetica;  font-size:30px; font-weight:normal;   color: #00367D; }

.Id3 { font-family:Helvetica;  font-size:14px; font-weight:normal;   color: #4D4D4D; }



.Id5 { font-family:Helvetica;  font-size:12px; font-weight:normal;   color: #4D4D4D; }

.colorAzulO{
    background:#00367D!important;
}

a:hover {
     color:#00367D!important;
}

.imagenMosaico
{
    background-color:#00367D!important;
}