body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/220/331/6147?v=08032018124328')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/331/6146?v=08032018124328')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/331/6146?v=08032018124328')!important;

    }

.Id1 { font-family:Georgia, serif;  font-size:12px; font-weight:Normal; color: #75787B; }

.Id2 { font-family:Georgia, serif;  font-size:20px; font-weight:Normal; color: #B3A369; }

.Id3 { font-family:Tahoma;  font-size:16px; font-weight:Normal; color: #A7A8AA; }



.Id5 { font-family:Tahoma;  font-size:12px; font-weight:Normal; color: #000000; }

.colorAzulO{
    background:#B3A369!important;
}

a:hover {
     color:#B3A369!important;
}

.imagenMosaico
{
    background-color:#B3A369!important;
}