body {
    background-color: #CB333B!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/492/340/6324?v=20052018100639')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=20052018100639')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=20052018100639')!important;

    }

.Id1 { font-family:'Abril Fatface', cursive;  font-size:36px; font-weight:Normal; color: #CB333B; }

.Id2 { font-family:'Julius Sans One', sans-serif;  font-size:20px; font-weight:Normal; color: #000000; }

.Id3 { font-family:'Asap', sans-serif;  font-size:16px; font-weight:Normal; color: #000000; }



.Id5 { font-family:'EB Garamond', serif;  font-size:12px; font-weight:Normal; color: #000000; }

.colorAzulO{
    background:#CB333B!important;
}

a:hover {
     color:#CB333B!important;
}

.imagenMosaico
{
    background-color:#CB333B!important;
}