body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/512/347/6546?v=12122019093630')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/63/347/7071?v=12122019093630')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/63/347/7071?v=12122019093630')!important;

    }

.Id1 { font-family:'Amaranth', sans-serif;  font-size:26px; font-weight:Normal; color: #CE0058; }

.Id2 { font-family:'Amaranth', sans-serif;  font-size:22px; font-weight:Normal; color: #83786F; }

.Id3 { font-family:'Open Sans', sans-serif;  font-size:16px; font-weight:300;; color: #83786F; }



.Id5 { font-family:'Open Sans', sans-serif;  font-size:13px; font-weight:Normal; color: #83786F; }

.colorAzulO{
    background:#CE0058!important;
}

a:hover {
     color:#CE0058!important;
}

.imagenMosaico
{
    background-color:#CE0058!important;
}