body {
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/32/34/249?v=09062015113632')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:100% auto!important;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/32/34/267?v=09062015113632')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/32/34/267?v=09062015113632')!important;

    }

.Id1 { font-family:Helvetica;  font-size:18px; font-weight:bolder;   color: #3D3935; }

.Id2 { font-family:Helvetica;  font-size:14px; font-weight:normal;   color: #FF8200; }

.Id3 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #3D3935; }

.Id4 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#FE5000!important;
}

a:hover {
     color:#FE5000!important;
}