body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/512/352/7579?v=23082018111022')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/512/352/7631?v=23082018111022')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/512/352/7631?v=23082018111022')!important;

    }

.Id1 { font-family:'Slabo 27px', serif;  font-size:36px; font-weight:Normal; color: #222223; }

.Id2 { font-family:'Open Sans', sans-serif;  font-size:20px; font-weight:300;; color: #222223; }

.Id3 { font-family:'Open Sans', sans-serif;  font-size:16px; font-weight:300;; color: #968C83; }



.Id5 { font-family:'Open Sans', sans-serif;  font-size:12px; font-weight:300;; color: #968C83; }

.colorAzulO{
    background:#968C83!important;
}

a:hover {
     color:#968C83!important;
}

.imagenMosaico
{
    background-color:#968C83!important;
}