body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/22/36/1076?v=11112015063735')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/22/36/1075?v=11112015063735')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/22/36/1075?v=11112015063735')!important;

    }

.Id1 { font-family:'Sacramento', cursive;  font-size:40px; font-weight:normal;   color: #000000; }

.Id2 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #10069F; }

.Id3 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#000000!important;
}

a:hover {
     color:#000000!important;
}

.imagenMosaico
{
    background-color:#000000!important;
}