body {
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/49/37/288?v=18062015124726')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:100% auto!important;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=18062015124726')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=18062015124726')!important;

    }

.Id1 { font-family:Helvetica;  font-size:14px; font-weight:normal;   color: #6E6259; }

.Id2 { font-family:Helvetica;  font-size:12px; font-weight:normal;   color: #CE0056; }

.Id3 { font-family:Helvetica;  font-size:12px; font-weight:normal;   color: #6E6259; }

.Id4 { font-family:Helvetica;  font-size:12px; font-weight:normal;   color: #6E6259; }

.Id5 { font-family:Helvetica;  font-size:8px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#FDDA24!important;
}

a:hover {
     color:#FDDA24!important;
}