body {
    background-color: #212721!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/604/371/9154?v=12062019095027')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/604/371/8792?v=12062019095027')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/604/371/8792?v=12062019095027')!important;

    }

.Id1 { font-family:ITC Franklin Gothic Demi Compresed;  font-size:30px; font-weight:Normal; font-style:italic;  color: #FF3700; }

.Id2 { font-family:ITC Franklin Gothic Book Condensed;  font-size:20px; font-weight:Normal; color: #000000; }

.Id3 { font-family:ITC Franklin Gothic Demi;  font-size:12px; font-weight:Normal; color: #000000; }



.Id5 { font-family:ITC Franklin Gothic Demi Compresed;  font-size:12px; font-weight:500;; color: #000000; }

.colorAzulO{
    background:#373E4E!important;
}

a:hover {
     color:#373E4E!important;
}

.imagenMosaico
{
    background-color:#373E4E!important;
}