body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/512/390/8472?v=09082019062428')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/512/390/8475?v=09082019062428')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/512/390/8475?v=09082019062428')!important;

    }









.Id5 { font-family:AbsaraSans;  font-size:14px; font-weight:Normal; color: #003A70; }

.colorAzulO{
    background:#00BFB3!important;
}

a:hover {
     color:#00BFB3!important;
}

.imagenMosaico
{
    background-color:#00BFB3!important;
}