body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/39/39/395?v=28112019092411')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/39/39/292?v=28112019092411')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/39/39/292?v=28112019092411')!important;

    }

.Id1 { font-family:'Signika', sans-serif;  font-size:24px; font-weight:Normal; color: #FFBF3F; }

.Id2 { font-family:'Signika', sans-serif;  font-size:16px; font-weight:Normal; color: #005EB8; }

.Id3 { font-family:'Signika', sans-serif;  font-size:16px; font-weight:Normal; color: #005EB8; }



.Id5 { font-family:'Signika', sans-serif;  font-size:14px; font-weight:Normal; color: #005EB8; }

.colorAzulO{
    background:#FFBF3F!important;
}

a:hover {
     color:#FFBF3F!important;
}

.imagenMosaico
{
    background-color:#FFBF3F!important;
}