body {
    background-color: #DDDCDB!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/220/391/8707?v=11022019052642')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/391/8706?v=11022019052642')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/391/8706?v=11022019052642')!important;

    }

.Id1 { font-family:ITC Franklin Gothic Book Compresed;  font-size:40px; font-weight:Normal; color: #E35205; }

.Id2 { font-family:ITC Franklin Gothic Book;  font-size:22px; font-weight:Normal; color: #572C5F; }

.Id3 { font-family:ITC Franklin Gothic Book;  font-size:17px; font-weight:Normal; color: #572C5F; }



.Id5 { font-family:ITC Franklin Gothic Book;  font-size:14px; font-weight:Normal; color: #407EC9; }

.colorAzulO{
    background:#572C5F!important;
}

a:hover {
     color:#572C5F!important;
}

.imagenMosaico
{
    background-color:#572C5F!important;
}