body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/740/405/13438?v=10012020104336')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/405/9116?v=10012020104336')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/405/9116?v=10012020104336')!important;

    }

.Id1 { font-family:'Roboto', sans-serif;  font-size:23px; font-weight:100; color: #D50032; }

.Id2 { font-family:'Roboto', sans-serif;  font-size:18px; font-weight:500;; color: #000000; }

.Id3 { font-family:'Roboto', sans-serif;  font-size:16px; font-weight:300;; color: #000000; }



.Id5 { font-family:'Roboto', sans-serif;  font-size:12px; font-weight:300;; color: #000000; }

.colorAzulO{
    background:#F8485E!important;
}

a:hover {
     color:#F8485E!important;
}

.imagenMosaico
{
    background-color:#F8485E!important;
}