body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/512/409/9281?v=27062019025053')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/512/409/9280?v=27062019025053')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/512/409/9280?v=27062019025053')!important;

    }

.Id1 { font-family:'Alegreya', serif;  font-size:36px; font-weight:Normal; color: #000000; }

.Id2 { font-family:'Montserrat', sans-serif;  font-size:20px; font-weight:Bold; color: #000000; }

.Id3 { font-family:'Merriweather Sans', sans-serif;  font-size:14px; font-weight:300;; color: #000000; }



.Id5 { font-family:'Merriweather Sans', sans-serif;  font-size:12px; font-weight:Normal; color: #000000; }

.colorAzulO{
    background:#A7A8AA!important;
}

a:hover {
     color:#A7A8AA!important;
}

.imagenMosaico
{
    background-color:#A7A8AA!important;
}