body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/36/40/1891?v=11022016090821')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/36/40/1893?v=11022016090821')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/36/40/1893?v=11022016090821')!important;

    }

.Id1 { font-family:Arial;  font-size:25px; font-weight:bolder;   color: #A12885; }

.Id2 { font-family:Arial;  font-size:18px; font-weight:normal;   color: #A12885; }

.Id3 { font-family:Arial;  font-size:15px; font-weight:normal;   color: #000000; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #6CABE7; }

.colorAzulO{
    background:#62BD19!important;
}

a:hover {
     color:#62BD19!important;
}

.imagenMosaico
{
    background-color:#62BD19!important;
}