body {
    background-color: #D9D9D6!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/37/41/311?v=28082015123959')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/37/41/301?v=28082015123959')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/37/41/301?v=28082015123959')!important;

    }

.Id1 { font-family:Verdana;  font-size:28px; font-weight:bolder;   color: #000000; }

.Id2 { font-family:Verdana;  font-size:18px; font-weight:normal;   color: #666666; }

.Id3 { font-family:Verdana;  font-size:14px; font-weight:normal;   color: #999999; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal; font-style:italic;  color: #999999; }

.colorAzulO{
    background:#666666!important;
}

a:hover {
     color:#666666!important;
}