body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/671/429/11431?v=30112019101619')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/671/429/11435?v=30112019101619')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/671/429/11435?v=30112019101619')!important;

    }

.Id1 { font-family:'Montserrat', sans-serif;  font-size:28px; font-weight:Bold; color: #E4002B; }

.Id2 { font-family:'Montserrat', sans-serif;  font-size:22px; font-weight:Normal; color: #A6192E; }

.Id3 { font-family:'Montserrat', sans-serif;  font-size:18px; font-weight:300;; color: #000000; }



.Id5 { font-family:'Montserrat', sans-serif;  font-size:14px; font-weight:Normal; color: #000000; }

.colorAzulO{
    background:#E4002B!important;
}

a:hover {
     color:#E4002B!important;
}

.imagenMosaico
{
    background-color:#E4002B!important;
}