body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/220/421/9613?v=31072019025609')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/220/421/9593?v=31072019025609')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/220/421/9593?v=31072019025609')!important;

    }

.Id1 { font-family:Averta;  font-size:20px; font-weight:300;; color: #D50032; }

.Id2 { font-family:Averta;  font-size:18px; font-weight:500;; color: #D50032; }

.Id3 { font-family:Averta;  font-size:16px; font-weight:Normal; color: #75787B; }



.Id5 { font-family:Averta;  font-size:12px; font-weight:Normal; color: #2D2926; }

.colorAzulO{
    background:#D50032!important;
}

a:hover {
     color:#D50032!important;
}

.imagenMosaico
{
    background-color:#D50032!important;
}