body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/512/422/10991?v=10082019085321')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/512/422/10990?v=10082019085321')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/512/422/10990?v=10082019085321')!important;

    }

.Id1 { font-family:'Open Sans', sans-serif;  font-size:32px; font-weight:300;; color: #003A70; }

.Id2 { font-family:'Open Sans', sans-serif;  font-size:20px; font-weight:Bold; color: #5B7F95; }

.Id3 { font-family:'Open Sans', sans-serif;  font-size:15px; font-weight:300;; color: #003A70; }



.Id5 { font-family:'Open Sans', sans-serif;  font-size:13px; font-weight:Normal; color: #5B7F95; }

.colorAzulO{
    background:#008675!important;
}

a:hover {
     color:#008675!important;
}

.imagenMosaico
{
    background-color:#008675!important;
}