body {
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/35/42/326?v=29062015055626')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:100% auto!important;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/35/42/323?v=29062015055626')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/35/42/323?v=29062015055626')!important;

    }

.Id1 { font-family:Arial;  font-size:26px; font-weight:bolder;   color: #FF8300; }

.Id2 { font-family:Arial;  font-size:17px; font-weight:bolder;   color: #0033A1; }

.Id3 { font-family:Arial;  font-size:13px; font-weight:normal;   color: #0033A1; }

.Id4 { font-family:Arial;  font-size:11px; font-weight:normal;   color: #0033A1; }

.Id5 { font-family:Arial;  font-size:11px; font-weight:normal;   color: #0033A1; }

.colorAzulO{
    background:#AEA299!important;
}

a:hover {
     color:#AEA299!important;
}