body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/512/420/9484?v=29072019023440')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/512/420/9483?v=29072019023440')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/512/420/9483?v=29072019023440')!important;

    }

.Id1 { font-family:'Alegreya', serif;  font-size:28px; font-weight:Normal; color: #75787B; }

.Id2 { font-family:'Merriweather Sans', sans-serif;  font-size:16px; font-weight:Bold; color: #101820; }

.Id3 { font-family:'Merriweather Sans', sans-serif;  font-size:14px; font-weight:300;; color: #53565A; }



.Id5 { font-family:'Merriweather Sans', sans-serif;  font-size:12px; font-weight:300;; color: #53565A; }

.colorAzulO{
    background:#CA9082!important;
}

a:hover {
     color:#CA9082!important;
}

.imagenMosaico
{
    background-color:#CA9082!important;
}