body {
    background-color: #D0D0CE!important;
}

#cabeza {
    background-image:url('https://s3-us-west-2.amazonaws.com/identidadprueba/1/43/551?v=25082015105527')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3-us-west-2.amazonaws.com/identidadprueba/1/43/574?v=25082015105527')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3-us-west-2.amazonaws.com/identidadprueba/1/43/574?v=25082015105527')!important;

    }

.Id1 { font-family:'Asap', sans-serif;  font-size:26px; font-weight:bolder;   color: #004889; }

.Id2 { font-family:'Asap', sans-serif;  font-size:20px; font-weight:normal;   color: #9E978E; }

.Id3 { font-family:'Asap', sans-serif;  font-size:20px; font-weight:normal;   color: #9E978E; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #F1A21E; }

.colorAzulO{
    background:#004889!important;
}

a:hover {
     color:#004889!important;
}