body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('/Images/Site/CabezaIdentidad.png?v=02012020073025')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=02012020073025')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=02012020073025')!important;

    }

.Id1 { font-family:'Roboto Condensed', sans-serif;  font-size:36px; font-weight:Normal; color: #00B388; }

.Id2 { font-family:'Roboto Condensed', sans-serif;  font-size:20px; font-weight:Normal; color: #1F3A6F; }

.Id3 { font-family:Helvetica;  font-size:12px; font-weight:Normal; color: #4D4D4D; }



.Id5 { font-family:'Roboto Condensed', sans-serif;  font-size:9px; font-weight:Normal; color: #4D4D4D; }

.colorAzulO{
    background:#00B388!important;
}

a:hover {
     color:#00B388!important;
}

.imagenMosaico
{
    background-color:#00B388!important;
}