body {
    background-color: #E6E7E8!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/671/432/11719?v=04122019045555')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/671/432/11723?v=04122019045555')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/671/432/11723?v=04122019045555')!important;

    }

.Id1 { font-family:'Montserrat', sans-serif;  font-size:29px; font-weight:800;; color: #D50032; }

.Id2 { font-family:'Montserrat', sans-serif;  font-size:16px; font-weight:800;; color: #D50032; }

.Id3 { font-family:'Montserrat', sans-serif;  font-size:14px; font-weight:500;; color: #000000; }



.Id5 { font-family:'Montserrat', sans-serif;  font-size:12px; font-weight:Normal; color: #0077C8; }

.colorAzulO{
    background:#0077C8!important;
}

a:hover {
     color:#0077C8!important;
}

.imagenMosaico
{
    background-color:#0077C8!important;
}