body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/671/434/12240?v=18122019025238')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/671/434/12242?v=18122019025238')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/671/434/12242?v=18122019025238')!important;

    }

.Id1 { font-family:Raleway;  font-size:36px; font-weight:300;; color: #0033A0; }

.Id2 { font-family:Raleway;  font-size:24px; font-weight:500;; color: #009CDE; }

.Id3 { font-family:Raleway;  font-size:18px; font-weight:Normal; color: #000000; }



.Id5 { font-family:Raleway;  font-size:15px; font-weight:Normal; color: #000000; }

.colorAzulO{
    background:#009CDE!important;
}

a:hover {
     color:#009CDE!important;
}

.imagenMosaico
{
    background-color:#009CDE!important;
}