body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/671/433/11833?v=13122019093708')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/671/433/11832?v=13122019093708')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/671/433/11832?v=13122019093708')!important;

    }

.Id1 { font-family:Oli;  font-size:30px; font-weight:Bold; color: #415364; }

.Id2 { font-family:Oli;  font-size:20px; font-weight:300;; color: #415364; }

.Id3 { font-family:Oli;  font-size:15px; font-weight:Normal; color: #415364; }



.Id5 { font-family:Oli;  font-size:13px; font-weight:Normal; color: #C1A292; }

.colorAzulO{
    background:#373E4E!important;
}

a:hover {
     color:#373E4E!important;
}

.imagenMosaico
{
    background-color:#373E4E!important;
}