body {
    background-color: #C8C9C7!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/37/44/1009?v=01092015055240')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/37/44/531?v=01092015055240')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/37/44/531?v=01092015055240')!important;

    }

.Id1 { font-family:Georgia, serif;  font-size:50px; font-weight:normal;   color: #000000; }

.Id2 { font-family:'Josefin Sans', sans-serif;  font-size:20px; font-weight:bolder;   color: #000000; }

.Id3 { font-family:'Josefin Sans', sans-serif;  font-size:13px; font-weight:normal;   color: #000000; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#000000!important;
}

a:hover {
     color:#000000!important;
}