body {
    background-color: #E4E4E4!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/36/45/541?v=08092015111348')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/36/45/582?v=08092015111348')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/36/45/582?v=08092015111348')!important;

    }

.Id1 { font-family:Verdana;  font-size:26px; font-weight:normal;   color: #E20076; }

.Id2 { font-family:Verdana;  font-size:19px; font-weight:normal;   color: #FBB034; }

.Id3 { font-family:Verdana;  font-size:14px; font-weight:normal;   color: #C8C9C7; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#E20076!important;
}

a:hover {
     color:#E20076!important;
}

.imagenMosaico
{
    background-color:#E20076!important;
}