body {
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/54/46/587?v=17072015122722')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:100% auto!important;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/54/46/594?v=17072015122722')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/54/46/594?v=17072015122722')!important;

    }

.Id1 { font-family:Verdana;  font-size:28px; font-weight:bolder;   color: #4D868E; }

.Id2 { font-family:Verdana;  font-size:18px; font-weight:normal;   color: #4D868E; }

.Id3 { font-family:Verdana;  font-size:14px; font-weight:normal;   color: #000000; }

.Id4 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#4D868E!important;
}

a:hover {
     color:#4D868E!important;
}