body {
    background-color: #F5F5F5!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/1/52/835?v=02102015050059')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/1/52/833?v=02102015050059')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/1/52/833?v=02102015050059')!important;

    }

.Id1 { font-family:'Josefin Sans', sans-serif;  font-size:35px; font-weight:bolder;   color: #004284; }

.Id2 { font-family:'Josefin Sans', sans-serif;  font-size:25px; font-weight:normal;   color: #004284; }

.Id3 { font-family:'Josefin Sans', sans-serif;  font-size:18px; font-weight:normal;   color: #808080; }



.Id5 { font-family:'Josefin Sans', sans-serif;  font-size:14px; font-weight:bolder; font-style:italic;  color: #808080; }

.colorAzulO{
    background:#004284!important;
}

a:hover {
     color:#004284!important;
}

.imagenMosaico
{
    background-color:#004284!important;
}