body {
    background-color: #212721!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/24/57/1004?v=01092015044906')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/24/57/1006?v=01092015044906')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/24/57/1006?v=01092015044906')!important;

    }

.Id1 { font-family:Verdana;  font-size:60px; font-weight:normal;   color: #FFA300; }

.Id2 { font-family:Verdana;  font-size:28px; font-weight:bolder;   color: #7A9A01; }

.Id3 { font-family:Verdana;  font-size:16px; font-weight:bolder;   color: #212721; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#373E4E!important;
}

a:hover {
     color:#373E4E!important;
}