body {
    background-color: #FAFAFA!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/9/61/2724?v=09092016122317')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/9/61/2751?v=09092016122317')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/9/61/2751?v=09092016122317')!important;

    }

.Id1 { font-family:'Montserrat', sans-serif;  font-size:20px; font-weight:Bold; color: #902A8C; }

.Id2 { font-family:Georgia, serif;  font-size:20px; font-weight:Normal; color: #902A8C; }

.Id3 { font-family:Georgia, serif;  font-size:16px; font-weight:Normal; color: #646464; }



.Id5 { font-family:Georgia, serif;  font-size:12px; font-weight:Normal; color: #902A8C; }

.colorAzulO{
    background:#902A8C!important;
}

a:hover {
     color:#902A8C!important;
}

.imagenMosaico
{
    background-color:#902A8C!important;
}