body {
    background-color: #000000!important;
}

#cabeza {
    background-image:url('https://s3-us-west-2.amazonaws.com/identidadprueba/1/63/11618?v=25082015080501')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3-us-west-2.amazonaws.com/identidadprueba/1/63/11622?v=25082015080501')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3-us-west-2.amazonaws.com/identidadprueba/1/63/11622?v=25082015080501')!important;

    }

.Id1 { font-family:'Josefin Sans', sans-serif;  font-size:30px; font-weight:bolder;   color: #FF292B; }

.Id2 { font-family:'Josefin Sans', sans-serif;  font-size:25px; font-weight:normal;   color: #1E64FF; }

.Id3 { font-family:'Josefin Sans', sans-serif;  font-size:25px; font-weight:normal;   color: #000000; }



.Id5 { font-family:'Josefin Sans', sans-serif;  font-size:18px; font-weight:normal; font-style:italic;  color: #000000; }

.colorAzulO{
    background:#FF292B!important;
}

a:hover {
     color:#FF292B!important;
}