body {
    background-color: #C8C9C7!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/9/64/1098?v=20102016115607')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=20102016115607')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=20102016115607')!important;

    }

.Id1 { font-family:'Open Sans', sans-serif;  font-size:44px; font-weight:Bold; color: #00FFFF; }

.Id2 { font-family:'Open Sans', sans-serif;  font-size:22px; font-weight:Semi-Bold; color: #000000; }

.Id3 { font-family:'Open Sans', sans-serif;  font-size:16px; font-weight:Normal; color: #000000; }



.Id5 { font-family:'Open Sans', sans-serif;  font-size:12px; font-weight:Normal; color: #999999; }

.colorAzulO{
    background:#00FFFF!important;
}

a:hover {
     color:#00FFFF!important;
}

.imagenMosaico
{
    background-color:#00FFFF!important;
}