body {
    background-color: #D9D9D6!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/9/65/1259?v=10112015105027')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/9/65/1059?v=10112015105027')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/9/65/1059?v=10112015105027')!important;

    }

.Id1 { font-family:'Lato', sans-serif;  font-size:34px; font-weight:normal;   color: #0BBCE5; }

.Id2 { font-family:Arial;  font-size:20px; font-weight:normal;   color: #A7A8AA; }

.Id3 { font-family:Arial;  font-size:14px; font-weight:normal;   color: #888B8D; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#00AFD7!important;
}

a:hover {
     color:#00AFD7!important;
}

.imagenMosaico
{
    background-color:#00AFD7!important;
}