body {
    background-color: #DEF0D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/9/68/1328?v=17112015063203')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/9/68/1199?v=17112015063203')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/9/68/1199?v=17112015063203')!important;

    }

.Id1 { font-family:'Asap', sans-serif;  font-size:36px; font-weight:normal; font-style:italic;  color: #59B224; }

.Id2 { font-family:'Asap', sans-serif;  font-size:22px; font-weight:normal; font-style:italic;  color: #0C2D83; }

.Id3 { font-family:Verdana;  font-size:14px; font-weight:normal;   color: #969696; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #969696; }

.colorAzulO{
    background:#59B224!important;
}

a:hover {
     color:#59B224!important;
}

.imagenMosaico
{
    background-color:#59B224!important;
}