body {
    background-color: #E7E7E7!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/9/69/2684?v=15022017093543')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/9/69/2653?v=15022017093543')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/9/69/2653?v=15022017093543')!important;

    }

.Id1 { font-family:Helvetica;  font-size:40px; font-weight:Bold; color: #808080; }

.Id2 { font-family:Helvetica;  font-size:22px; font-weight:Normal; color: #4D4C4C; }

.Id3 { font-family:Helvetica;  font-size:14px; font-weight:Normal; color: #000000; }



.Id5 { font-family:Helvetica;  font-size:12px; font-weight:Normal; color: #4D4D4D; }

.colorAzulO{
    background:#373E4E!important;
}

a:hover {
     color:#373E4E!important;
}

.imagenMosaico
{
    background-color:#373E4E!important;
}