body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/39/71/1189?v=26102015123642')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/39/71/1188?v=26102015123642')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/39/71/1188?v=26102015123642')!important;

    }

.Id1 { font-family:Tahoma;  font-size:24px; font-weight:bolder;   color: #004C97; }

.Id2 { font-family:Tahoma;  font-size:16px; font-weight:bolder;   color: #004C97; }

.Id3 { font-family:Verdana;  font-size:16px; font-weight:normal;   color: #004C97; }



.Id5 { font-family:Tahoma;  font-size:12px; font-weight:normal;   color: #004C97; }

.colorAzulO{
    background:#004C97!important;
}

a:hover {
     color:#004C97!important;
}

.imagenMosaico
{
    background-color:#004C97!important;
}