body {
    background-color: #FFFFFF!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/36/72/1212?v=17112015105710')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/36/72/1232?v=17112015105710')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/36/72/1232?v=17112015105710')!important;

    }

.Id1 { font-family:Helvetica;  font-size:38px; font-weight:normal;   color: #B3A369; }

.Id2 { font-family:Book Antiqua;  font-size:25px; font-weight:normal; font-style:italic;  color: #C7C9C7; }

.Id3 { font-family:Book Antiqua;  font-size:18px; font-weight:normal;   color: #101820; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#D50032!important;
}

a:hover {
     color:#D50032!important;
}

.imagenMosaico
{
    background-color:#D50032!important;
}