body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/80/73/1208?v=30062016110700')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=30062016110700')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=30062016110700')!important;

    }

.Id1 { font-family:Georgia, serif;  font-size:12px; font-weight:normal;   color: #005EB8; }

.Id2 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #FFC864; }

.Id3 { font-family:'Noto Sans', sans-serif;  font-size:32px; font-weight:normal;   color: #CCCCCC; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#827A04!important;
}

a:hover {
     color:#827A04!important;
}

.imagenMosaico
{
    background-color:#827A04!important;
}