body {
    background-color: #25282A!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/78/75/1422?v=26112015045827')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/78/75/1566?v=26112015045827')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/78/75/1566?v=26112015045827')!important;

    }

.Id1 { font-family:'Roboto', sans-serif;  font-size:40px; font-weight:bolder;   color: #00BFB3; }

.Id2 { font-family:'Roboto', sans-serif;  font-size:20px; font-weight:normal;   color: #25282A; }

.Id3 { font-family:'Roboto', sans-serif;  font-size:15px; font-weight:normal;   color: #25282A; }



.Id5 { font-family:'Roboto', sans-serif;  font-size:12px; font-weight:normal;   color: #00BFB3; }

.colorAzulO{
    background:#FFCD00!important;
}

a:hover {
     color:#FFCD00!important;
}

.imagenMosaico
{
    background-color:#FFCD00!important;
}