body {
    background-color: #D9D9D6!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/37/78/1580?v=10122015123127')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/37/78/1579?v=10122015123127')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/37/78/1579?v=10122015123127')!important;

    }

.Id1 { font-family:'Dancing Script', cursive;  font-size:20px; font-weight:normal;   color: #000000; }

.Id2 { font-family:Times New Roman;  font-size:18px; font-weight:normal; font-style:italic;  color: #C9809E; }

.Id3 { font-family:Times New Roman;  font-size:14px; font-weight:normal;   color: #000000; }



.Id5 { font-family:Times New Roman;  font-size:12px; font-weight:normal; font-style:italic;  color: #CCCCCC; }

.colorAzulO{
    background:#000000!important;
}

a:hover {
     color:#000000!important;
}

.imagenMosaico
{
    background-color:#000000!important;
}