body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/39/79/1586?v=11122015104009')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/39/79/1582?v=11122015104009')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/39/79/1582?v=11122015104009')!important;

    }

.Id1 { font-family:Georgia, serif;  font-size:36px; font-weight:normal;   color: #53565A; }

.Id2 { font-family:Trebuchet;  font-size:16px; font-weight:bolder;   color: #53565A; }

.Id3 { font-family:Trebuchet;  font-size:16px; font-weight:normal;   color: #53565A; }



.Id5 { font-family:Trebuchet;  font-size:14px; font-weight:normal;   color: #53565A; }

.colorAzulO{
    background:#C800A1!important;
}

a:hover {
     color:#C800A1!important;
}

.imagenMosaico
{
    background-color:#C800A1!important;
}