body {
    background-color: #C8C9C7!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/9/8/824?v=31082015020442')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=31082015020442')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=31082015020442')!important;

    }

.Id1 { font-family:'Asap', sans-serif;  font-size:90px; font-weight:normal;   color: #B4FFFF; }

.Id2 { font-family:'Asap', sans-serif;  font-size:34px; font-weight:bolder;   color: #000000; }

.Id3 { font-family:'Asap', sans-serif;  font-size:16px; font-weight:normal;   color: #000000; }



.Id5 { font-family:'Asap', sans-serif;  font-size:12px; font-weight:normal;   color: #000000; }

.colorAzulO{
    background:#FF008C!important;
}

a:hover {
     color:#FF008C!important;
}