body {
    background-color: #75787B!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/189/80/6770?v=02082018114621')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/189/80/6801?v=02082018114621')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/189/80/6801?v=02082018114621')!important;

    }

.Id1 { font-family:Helvetica;  font-size:26px; font-weight:300;; color: #DA291C; }

.Id2 { font-family:Helvetica;  font-size:16px; font-weight:Bold; color: #2D2926; }

.Id3 { font-family:Helvetica;  font-size:14px; font-weight:Normal; color: #75787B; }



.Id5 { font-family:Helvetica;  font-size:12px; font-weight:Normal; color: #97999B; }

.colorAzulO{
    background:#A6192E!important;
}

a:hover {
     color:#A6192E!important;
}

.imagenMosaico
{
    background-color:#A6192E!important;
}