body {
    background-color: #E31C79!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/9/81/2334?v=16032016012101')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/9/81/2333?v=16032016012101')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/9/81/2333?v=16032016012101')!important;

    }

.Id1 { font-family:'Lato', sans-serif;  font-size:16px; font-weight:bolder;   color: #004D80; }

.Id2 { font-family:'Lato', sans-serif;  font-size:30px; font-weight:bolder;   color: #00A1E6; }

.Id3 { font-family:'Lato', sans-serif;  font-size:16px; font-weight:normal;   color: #666666; }



.Id5 { font-family:'Lato', sans-serif;  font-size:12px; font-weight:bolder;   color: #00A1E6; }

.colorAzulO{
    background:#004D80!important;
}

a:hover {
     color:#004D80!important;
}

.imagenMosaico
{
    background-color:#004D80!important;
}