body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('https://s3.amazonaws.com/Identidad/36/86/2632?v=27072016115903')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('https://s3.amazonaws.com/Identidad/36/86/2643?v=27072016115903')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('https://s3.amazonaws.com/Identidad/36/86/2643?v=27072016115903')!important;

    }

.Id1 { font-family:Tahoma;  font-size:20px; font-weight:bolder;   color: #003949; }

.Id2 { font-family:Tahoma;  font-size:16px; font-weight:bolder;   color: #A7BCD6; }

.Id3 { font-family:Tahoma;  font-size:14px; font-weight:normal;   color: #003949; }



.Id5 { font-family:Tahoma;  font-size:12px; font-weight:normal;   color: #B1B3B3; }

.colorAzulO{
    background:#A7BCD6!important;
}

a:hover {
     color:#A7BCD6!important;
}

.imagenMosaico
{
    background-color:#A7BCD6!important;
}