body {
    background-color: #CBD3D3!important;
}

#cabeza {
    background-image:url('/Images/Site/CabezaIdentidad.png?v=09082016012542')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:auto auto!important;
    background-position-x:center;
    background-position-y:center;
    width:100%!important;
    height:250px!important;
    min-height:250px!important;
    image-rendering:optimizeSpeed!important;
}

    ul#menu li:first-child {

    background-image:url('/Images/Site/ID.png?v=09082016012542')!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    background-size:50px auto!important;
    font-size:1px!important

    }
 
    ul#menu li:first-child:hover {

    background-image:url('/Images/Site/ID.png?v=09082016012542')!important;

    }

.Id1 { font-family:'Quattrocento Sans', sans-serif;  font-size:50px; font-weight:normal;   color: #CE0056; }

.Id2 { font-family:'Quattrocento', serif;  font-size:20px; font-weight:normal;   color: #CCCCCC; }

.Id3 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }



.Id5 { font-family:Verdana;  font-size:12px; font-weight:normal;   color: #CCCCCC; }

.colorAzulO{
    background:#373E4E!important;
}

a:hover {
     color:#373E4E!important;
}

.imagenMosaico
{
    background-color:#373E4E!important;
}