﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Brandsite/BrandSite.Master" AutoEventWireup="true" CodeBehind="Glosario.aspx.cs" Inherits="Identidad.Brandsite.WebForm3" meta:resourcekey="Glosario" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="Ajax" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div class="divFondoPagina">

    <link href="../CSS/Pages/Glosario.css" rel="stylesheet" type="text/css" />  
    <link href="../CSS/Design.css" rel="stylesheet" type="text/css" />

    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <div class="divTituloCentrado">
                    <asp:Label ID="lblGlosario" CssClass="fuenteTitulo" runat="server" meta:resourcekey="lblGlosario"></asp:Label>
            </div>
            <%--<hr/>--%>
            <br /><br />
            <div id="Alfabeto-contenedor">
                <ul id="Alfabeto">
                    <li><a><asp:LinkButton ID="lkbA" runat="server" Text="A" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbB" runat="server" Text="B" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbC" runat="server" Text="C" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbD" runat="server" Text="D" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbE" runat="server" Text="E" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbF" runat="server" Text="F" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbG" runat="server" Text="G" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbH" runat="server" Text="H" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbI" runat="server" Text="I" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbJ" runat="server" Text="J" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbK" runat="server" Text="K" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbL" runat="server" Text="L" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbM" runat="server" Text="M" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbN" runat="server" Text="N" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbO" runat="server" Text="O" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbP" runat="server" Text="P" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbQ" runat="server" Text="Q" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbR" runat="server" Text="R" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbS" runat="server" Text="S" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbT" runat="server" Text="T" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbU" runat="server" Text="U" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbV" runat="server" Text="V" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbW" runat="server" Text="W" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbX" runat="server" Text="X" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbY" runat="server" Text="Y" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                    <li><a><asp:LinkButton ID="lkbZ" runat="server" Text="Z" OnClick="lkbAbecedario_Click"></asp:LinkButton></a></li>
                </ul>
            </div>
            <br /><br />
            <div style="width:100%; text-align:right;">
                <asp:TextBox ID="txtBusqueda" style="width:240px; padding-right:5px" CssClass="TextBox" runat="server"></asp:TextBox> &nbsp;
                <asp:Button ID="btnBuscar" style="margin-right:20px;" runat="server" CssClass="buttons colorAzulO" meta:resourcekey="btnBuscar" OnClick="btnBuscar_Click" />
            </div>
            <br /><br />
            <asp:GridView ID="gvGlosario" CssClass="mGrid" runat="server" AutoGenerateColumns="false" >
                <Columns>

                    <asp:TemplateField>
                            <ItemTemplate>
                                <br /><br />
                                <asp:Label ID="lblIdPalabra" runat="server" DataField ="IdPalabra" Text='<%#Eval ("IdPalabra") %>' Visible="false" ></asp:Label>
                                <asp:Label ID="lblPalabra" CssClass="Palabra" runat="server" DataField ="Palabra" Text='<%#Eval ("Palabra") %>' ></asp:Label>
                                <br /><br />
                                <asp:Label ID="lblDefinicion" runat="server" DataField ="Definicion" Text='<%#Eval ("Definicion") %>' ></asp:Label>
                                <br /><br /><br />
                                <hr />
                                
                            </ItemTemplate>
                    </asp:TemplateField>

                </Columns>
            </asp:GridView>

        </ContentTemplate>
    </asp:UpdatePanel>

</div>

    <script type="text/javascript">
        // Se muestra el menú seleccionado
        document.getElementById("lblGlosario").setAttribute("class", "Seleccionado");

        // Si hay un postback tengo que cargar por segunda vez por que no entra al script

        //Sys.Application.initialize();

        var prm = Sys.WebForms.PageRequestManager.getInstance();

        if (prm != null) {
            prm.add_endRequest
            (
                function (sender, e) {
                    if (sender._postBackSettings.panelsToUpdate != null) {
                        document.getElementById("lblGlosario").setAttribute("class", "Seleccionado");
                    }
                }
            );
        };

    </script>

    <!-- Bloqueo la tecla enter en toda la página -->

    <script type="text/javascript">
        document.onkeydown = function (evt) {
            return (evt ? evt.which : event.keyCode) != 13;
        }
    </script>

    <!-- Permito la tecla enter solo cuando key up el txtBuscar -->

    <script type="text/javascript">

        $('#ContentPlaceHolder1_txtBusqueda').keyup(function (e) {
            if (e.keyCode == 13) {

                $get('ContentPlaceHolder1_btnBuscar').click();
            }
        })

        //Sys.Application.initialize();

        var prm = Sys.WebForms.PageRequestManager.getInstance();
        if (prm != null) {
            prm.add_endRequest(function (sender, e) {
                if (sender._postBackSettings.panelsToUpdate != null) {
                    $('#ContentPlaceHolder1_txtBusqueda').keyup(function (e) {
                        if (e.keyCode == 13) {

                            $get('ContentPlaceHolder1_btnBuscar').click();
                        }
                    })
                }

            });
        }

    </script>

</asp:Content>
