﻿/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width:500px;
    min-width:400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
        border-radius: 6px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffffff;
    color: #000000;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #ffffff;
    color: #000000;
}
h3{
    font-size: 24px;
}
#tituloMs{
    color:#000;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

label.content{
    color: #000;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size:  25px;
}
#lblSitios{
    color:gray;
    margin:0 auto;
    text-align:center;
}
.btnmistios{
    padding:0px 4px;
    
}
#lista-btn{
    width:60%;
    margin:0px auto;
    text-align: center;
}

/*----------------------*/
/*        BUTTONS       */
/*----------------------*/
.wpc-btn {
	background-color: #ff0099;
	border: 1px solid #ff0099;
	color: #ffffff;
	padding: 21px 25px;
	display: inline-block;
	position: relative;
	/* [disabled]letter-spacing: 0.3px; */
	margin-left: 11px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	font-family: "OpenSans SemiBold";
}

.wpc-btn-home {
	background-color: #ff0099;
	border: 1px solid #ff0099;
	color: #ffffff;
	padding: 15px 15px;
	display: inline-block;
	position: relative;
	margin-bottom:40px;
	/* [disabled]letter-spacing: 0.3px; */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	font-family: "OpenSans SemiBold";
}

  .wpc-btn.btn-contact {
    margin-left: 0; }
  @media (max-width: 767px) {
    .wpc-btn {
      margin-left: 0;
	  font-size:smaller; 
	  } }
  .wpc-btn:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,1.00);
	border: 1px solid #ffffff;
	color: #FFFFFF;
}
  .wpc-btn.classic {
    padding: 15px 52px;
    background-color: transparent;
    border: 3px solid #fff;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff; }
    .wpc-btn.classic:hover {
      background-color: #fff;
      color: #1f2532; }
    .wpc-btn.classic.classic-x {
	border-color: #33ffff;
	color: #000000;
	text-transform: capitalize;
	font-family: "OpenSans Regular";
	text-transform: uppercase;
}
      .wpc-btn.classic.classic-x:hover {
        background-color: #33fffff;
        border-color: #000000;
        color: #000000; }
  .wpc-btn.modern {
    border: 3px solid #202242;
    color: #202242;
    font-size: 18px;
    text-transform: capitalize;
    background-color: transparent;
    padding: 15px 52px;
    text-transform: uppercase; }
    .wpc-btn.modern:hover {
      background-color: #202242;
      color: #fff; }