﻿.CentrarImagenContacto {
    width:620px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.divContacto {
    width:620px!important;
    height:550px!important;
}

.imgContacto {
    image-rendering:optimizeSpeed;   
    height:auto;
    Width:100px;
}

/*ul#menuSuperior {
    /*padding-left:350px;*/
    padding-left:125px;
    border:none;
}

ul#menuSuperior li a{
    border-right:none;
}*/