﻿.Titulo {
    font-size:150%;
    font-weight:bold;
    padding-bottom:50px;
    color:#FF008C;
}

.SubTitulo {
    
    padding-bottom:100px;
}

.browsers {
    width:100%;
    height:250px;
    text-align:center;
}

.iexplorer {
    
    float:left; width:50%
}

.iexplorer:hover {

    float:left; width:50%
}

chrome {
    
    float:left; width:50%
}

chrome:hover {
    
    float:left; width:50%
    
}