﻿
body 
{
    background-color: #D1D3D4!important;
    background-repeat:repeat-x;
}

#divContenido
{
    margin-left:auto; 
    margin-right:auto;
    width:1024px;
    height:768px;
    background-color:white;
    background-image:url(../../Images/Site/IDENT_Home.jpg);
}

#divBoton
{
    margin-left:80px;
    margin-top:288px;
    z-index:100;
    position:absolute;
}
#tBienvenido
{
    margin-left:80px;
    margin-top:100px;
    z-index:100;
    position:absolute;
}
#lblBienvenido
{
    font-family: 'Open Sans', sans-serif;
    font-size:54px;
    font-weight:bold;
    
}
.Texto
{
    font-family: 'Open Sans', sans-serif;
    font-size:30px;

}

.colorAqua
{
    background-color:#23FFFF;
    padding: 5px 15px;
    padding: .5rem .15rem; 
    border:0 none;
    cursor:default;
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    border-radius: 3px; 
    border-radius: .3rem;*/ 
    width: 144px;
    height:35px;
    height:2.5rem;
    padding: 0px 10px 0px 10px;
    display:inline-block; 
    vertical-align:middle;
    font-weight:bold;
    font-size:12px;
    font-family:'open sans regular', sans-serif;
    color:black;
    margin-right:12px;
}
.colorRosa
{
    background-color:#FF008C;    
    border:0 none;
    cursor:default;
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    border-radius: 3px; 
    border-radius: .3rem;*/     
    display:inline-block; 
    vertical-align:middle;
    font-weight:bold;    
    font-family:'open sans regular', sans-serif;
    color:white;
}
#menuIngreso
{
    margin-left:560px;
    margin-top:175px;
    z-index:100;
    position:absolute;
}
#lblSubtitulo
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:14px;
}
#lblRecuperar
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:9px;
    color:black;
}
#btnIniciarSesion
{
    width: 144px;
    height:35px;
    height:2.5rem;
    padding: 0px 10px 0px 10px;
    margin-left:162px;
    font-size:12px;
}
.iniciaS
{
    width:144px;
}
#divTablaTitulo
{
    width:384px;
}
.btnCancelarR
{
    color:white;
    background-color:#000;
    border:hidden;
    width:14px;
    height:14px;
    font-size:10px;
    font-weight:bolder;
    position:absolute;
    margin-left:390px;
    margin-top:-30px;
}
.btnCancelarC
{
    color:white;
    background-color:#000;
    border:hidden;
    width:14px;
    height:14px;
    font-size:10px;
    font-weight:bolder;
    position:absolute;
    margin-left:390px;
    margin-top:-20px;
}
#lblTituloR
{
    font-family:'open sans regular', sans-serif;
    font-size:20px;
    font-weight:bolder;
    margin-left:80px;
        
}
#lblTituloContactanos
{
    font-family:'open sans regular', sans-serif;
    font-size:20px;
    font-weight:bold;
    margin-left:110px;
        
}
.subrayados
{
    text-decoration:underline;
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    color:black;
}
#lblAceptoTerminos
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    color:black;
    margin-left:5px;

}
#lblMensajeRegistro
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    color:#FF008C;
    margin-left:100px;
}
.negritas
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    color:#000000;
    margin-left:100px;
}
.txtregistro
{
    border-color:#FF008C;
    border-style:solid;
    border-width:1px;
    width:224px;
    height:14px;
    font-size:9px;
    font-family:'open sans regular', sans-serif;
    margin-top:14px;
    margin-bottom:2px;
}
.botonesRegistro
{
    background-color:#000000;    
    border:0 none;
    cursor:default;
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    border-radius: 3px; 
    border-radius: .3rem;*/     
    display:inline-block; 
    vertical-align:middle;
    font-weight:bold;    
    font-family:'open sans regular', sans-serif;
    color:white;
    width:152px;
    height:32px;
    font-size:16px;
}
#contentDefault
{
    margin-left:80px;
    margin-top:400px;
    z-index:100;
    position:absolute;
}
.textoDefault
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    color:white;
    font-size:44px;
    margin-right:4px;
}
.textoDefaultR
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    color:#FF008C;
    font-size:44px;
    
}
#menuRegistro
{
    margin-left:560px;
    margin-top:430px;
    z-index:100;
    position:absolute;
}
.textoRegistro
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    color:white;
    font-size:14px;
    margin-right:4px;
}
#btnRegistrate
{
    text-align:center;
    font-size:14px;
    height:32px;
    width:224px;
    text-decoration:none;
}
a:hover {
     cursor:default;
     text-decoration:none;
     font-weight:normal;
     font-family: 'open sans regular', sans-serif;
}
#lblIniciarSesion
{
    margin-left:480px;
}
#CopyR
{
    font-size:8px;
    margin-left:80px;
    margin-top:742px;
    position:absolute;

}


.tituloPosRegistro
{
    font-family: 'open sans regular', sans-serif;
    font-size:37px;
    font-weight:bold;
    position:relative;
    margin-left:130px;
}

.tituloPosRegistroRosa
{
    font-family: 'open sans regular', sans-serif;
    font-size:37px;
    font-weight:bold;
    position:relative;
    margin-left:10px;
    color:#FF008C;
}
.btnCancelar
{
    color:white;
    background-color:#000;
    border:hidden;
    width:14px;
    height:14px;
    font-size:10px;
    font-weight:bolder;
    position:absolute;
    margin-left:830px;
    margin-top:-20px;
}
.TextoPosRegistro
{
    font-family: 'open sans regular', sans-serif;
    font-size:17px;
    position:relative;
    margin-left:200px;
}
.btnsRegistro
{
    background-color:#23FFFF;
    padding: 5px 15px;
    padding: .5rem .15rem; 
    border:0 none;
    cursor:default;
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    border-radius: 3px; 
    border-radius: .3rem;*/ 
    width: 144px;
    height:35px;
    height:2.5rem;
    padding: 0px 10px 0px 10px;
    display:inline-block; 
    vertical-align:middle;
    font-weight:bold;
    font-size:12px;
    font-family:'open sans regular', sans-serif;
    color:black;
    margin-left:12px;
    margin-right:12px;
    margin-top:-20px;
}
#RegistroDisenador
{
    font-family:'open sans regular', sans-serif;
    margin-left:190px;
}
#DescripcionDisenador
{
    width:220px;    
    font-size:14px;
    float:left;
}
#lblTextoRegistroDisenador
{
    font-weight:bold;
}
.Planes
{
    width:160px;
    float:left;
    margin-right:20px;
    height:280px;
}
.tituloPlan
{
    color:#FF008C;
    font-weight:bold;
    font-size:17px;
}
.DescripcionPlan
{
    font-weight:bold;
    font-size:12px;
}
.gigas
{
    font-size:20px;
}
.pagos
{
    font-size:11px;
}
.textoemp
{
    font-size:13px;
}
.btnSeleccionarPlan
{
    background-color:#FF008C;    
    border:0 none;
    cursor:default;
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    border-radius: 3px; 
    border-radius: .3rem;*/     
    display:inline-block; 
    vertical-align:middle;
    font-weight:bold;    
    font-family:'open sans regular', sans-serif;
    color:white;
    padding:8px;
}
.espacio
{
    margin-left:12px;
}
#RegistroEmpresa
{
    position:absolute;
    margin-left:120px;
}
.PlanesE
{
    width:140px;
    float:left;
    margin-right:20px;
    height:280px;
}

/*--------------------------------------------------------------------------------------------------*/
.lblTituloDatosF
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
}

#chkTerminos{
    width:15px;
    float:left;
}
.checkbox-group{
    width:14px;
    height:14px;
    background:#23FFFF;
    margin:-1px 4px 0 0;
}
#chkTerminos{
    background:#FFFFFF;
    margin-left:20px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:14px;
    height:14px;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    width:6px;
    height:6px;
     display:inline-block;
     vertical-align:middle;
     margin-left:4px;
     margin-top:-8px;
    background:#000000;
}
.lblPersona
{
    margin-left:20px;
    margin-top:-47px;
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
}
.lblEmpresa
{
    margin-left:20px;
    margin-top:-17px;
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
}
/*--------------------------------------------------------------------------------------------*/
.columna1Pagos
{
    margin-left:140px;
}
.txtDatosPagoG
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:10px;
    width:304px;
    height:32px;
    background:#F5F5F5;
    color:#B9B9B9;
    border:none;
}
.txtDatosPagoM
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:10px;
    width:145px;
    height:32px;
    background:#F5F5F5;
    color:#B9B9B9;
    border:none;
    margin-right:14px;
}
.txtDatosPagoCh
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:10px;
    width:65px;
    height:32px;
    background:#F5F5F5;
    color:#B9B9B9;
    border:none;
    margin-right:12px;
}
.lblDatosObligatorios
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:9px;
}
.columna2Pagos
{
    position:absolute;
    margin-left:500px;
    margin-top:-447px;
}
.lblPlan
{
    color:#FF008C;
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:24px;
    
}
.lblTotal
{
    color:#000000;
    font-family:'open sans regular', sans-serif;
    font-size:12px;
    float:right;
    padding:5px;
}
.lblCantidad
{
    color:#000000;
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:20px;
    float:right;
    margin-right:45px;
}
.lblCantidades
{
    color:#000000;
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:12px;
    position:absolute;
    margin-left:16px;
    margin-top:-16px;
}
.lblPeriodo
{
    color:#000000;
    font-family:'open sans regular', sans-serif;
    font-size:10px;
    position:absolute;
    margin-left:16px;
}
#pagoanual
{
    margin-left:200px;
    margin-top:-16px;
}
.lblCantidadesA
{
    color:#000000;
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:12px;
    position:absolute;
    margin-left:216px;
    margin-top:-16px;
}
.lblPeriodoA
{
    color:#000000;
    font-family:'open sans regular', sans-serif;
    font-size:10px;
    position:absolute;
    margin-left:216px;
}
#lblFormaDePago
{
    color:#000000;
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:14px;
}
.ddlVencimiento
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:10px;
    width:145px;
    height:32px;
    background:#B9B9B9;
    color:#FFFFFF;
    border:none;
    margin-right:14px;
}
.colorRosaPago
{
    font-family:'open sans regular', sans-serif;
    font-weight:bold;
    font-size:12px;
    width:145px;
    height:32px;
    background:#FF008C;
    color:#FFFFFF;
    border:none;
    margin-left:160px;
    margin-top:40px;
}