﻿.divMosaico {
    width:320px; 
    Height:440px; 
    margin-left:6px;
    margin-right:0px;
    margin-bottom:10px;
    background-color:white;

    -webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    -moz-border-radius: 3px;
    -moz-border-radius: .3rem;
     border-radius: 3px; 
     border-radius: .3rem; 
}

.tablaMosaico {
    margin:20px 20px 20px 20px; 
    width:85%; 
    height:85%;
    /*word-break:break-all;*/
}

.imagenMosaico {
    image-rendering:optimizeSpeed; 
    margin-bottom:10px; 
    margin-top:20px; 
    margin-right:10px; 
    max-width:130px;
    height:auto;
    max-height:125px!important;
    background-color:#D1D3D4;
    background-repeat:no-repeat;
    background-position:center;
}

.divMosaico:hover {

    z-index:3;
    -webkit-box-shadow: 0px 0px 3px 3px #D1D3D4;
    -moz-box-shadow: 0px 0px 3px 3px #D1D3D4;
    box-shadow: 0px 0px 3px 3px #D1D3D4;

    transition: transform .1s;

    -moz-transition: all .1s ease-in;
    /* WebKit */
    -webkit-transition: all .1s ease-in;
    /* Opera */
    -o-transition: all .1s ease-in;
    /* Standard */
    transition: all .1s ease-in;
    
}

.tagMosaico {
    
    image-rendering:optimizeSpeed; 
    max-width:20px;
    height:auto;
    word-wrap: break-word;
    overflow:hidden;
    background-color:none;
    background-repeat:no-repeat;
    background-position:center;
}

.Tabla {
    width:100%;
    padding-bottom:20px;
}

/*.Derecha {
    text-align:right;
}

.Izquierda {
    text-align:left;
}*/

.BusquedaTextBox {
    width:240px!important;
    padding-right:5px
}

.divSubirArchivo {
    height:400px!important;
}

/*.divEliminarArchivo {
    height:300px!important;
    width:450px!important;
}*/

/*.divModificarArchivo {
    height:350px!important;
    width:520px!important;
}*/

.divSeleccionaTag {
    height:375px; 
    overflow-y:auto;
}

.NombreTag {
    font-size:150%;
    font-weight:bold;
}

.divAgregarTag {
    height:520px!important;
    width:600px!important;
}

.DescripcionArchivo {
    word-wrap: normal;
}

.previewTag {
    image-rendering:optimizeSpeed;   
    max-width:100px; 
    height:auto;
    max-height:100px;
    background-color:none;
    background-repeat:no-repeat;
    background-position:center;
}

.TituloArchivo {
    font-weight:bold;
    font-size:150%;
    word-break:break-all !important;
}

.infoArchivo {
    font-size:85%;
}