﻿#page 
{
    border-bottom:none;
    border-right:16px solid #DCDDDE;
    border-left:16px solid #DCDDDE;
}

#divFooter 
{
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    background-image:url('../../Images/Site/footer.png');
    background-repeat:repeat-x;
    background-repeat:repeat-y;
    width:100%;
    height:72px;
    overflow:auto;
}

#contenido 
{
    height:auto;
    background:#fff;
    padding:0;
}

#menuSuperior 
{
    font-size:85%;
    font-weight:bold;

    width:1024px;
    height:64px;
    margin-right:auto;
    margin-left:auto;
    background-image:url('../../Images/Site/2.jpg');
}

.lkbCerrarSesion
{
    margin-top:20px!important;
    margin-left:804px;
    padding-top:20px;
}

ul#menuSuperior li a:hover {

    color: #FF008C!important;
}

.divImgUsuarioMenu{
    
    float:left;
    width:45px!important;
    height:33px!important;
    margin-right:35px;

    margin-left:872px!important;
    margin-top:-35px!important;

}

ul#menu li a:hover {

    color: #FF008C!important;
}

ul#menu {

    border-top:0px none #D1D3D4!important;
}

Sin título
/*---------------------------Modal Plan------------------------------------------------------------*/
/* The Modal (background) */
.modalPlan {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentP {
    background-image: url('../Images/Site/PlantillaRegistro.png');
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 825px;
    height: 584px;
    font-family: 'Open Sans', sans-serif; 
}

/* The Close Button */
.closeP {
    color: #ffffff;
    background:#000000;
    width:16px;
    height:16px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding:0px;
    margin-top:-20px;
    margin-right:-20px;
    text-align:center;
}

.closeP:hover,
.closeP:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#tituloP{
    text-align:center;
}

/*-----------------------------------------------------------------------------------------------------------*/ 
