﻿/*.divPrincipal {

    width:100%;
    height:auto;
    background-color:#F4F4F6;
    font-family: 'open sans regular', sans-serif;
    color: #373E4E;
}*/

.divFondo {

    max-width:100%;
    min-width:100%;
    float:left; 
    border:solid 1px #D1D3D4;
    margin-top:20px;
    margin-top:2rem;
    background-color:#FFFFFF;
}

.divTituloEstilos {

    color: #787878;
    font-size:150%;

}

.divTitulos {

    font-size:175%;
    color:#000000;
    margin-left:55px;
    margin-top:32px;
    margin-bottom:10px;
    float:left;

}

.divOpciones {

    width:auto;
    height:40px;
    height:4rem;  
    text-align:right;
    vertical-align:middle;
    background-color:white;
    float:right;
    margin-right:20px;
    margin-top:20px;
}

.divEncabezado {

height:80px;

}

.divBody{
   width:90%;
    margin:auto;
    
   /*margin-left:20px;
   margin-right:20px;*/

  
}

.GridView {
    width:100%;
    border:none;
    margin-bottom:20px;
}

.GridView td {
    
 border:none;
}
/*Estilos itemTemplate*/

.divContenidoFentes {
    width:100%;
    height:150px;

}

.divhr{
    width:100%;
    margin:auto;
    text-align:center;
  
}
    .divhr hr {
    
    background:#D1D3D4;
}


.divTituloFuente {
    margin-top:20px;
    font-weight:bold;
    font-size:150%;
    color:#787878;
    height:50px;

}

.tamano { 
    min-width:50px;

}
.divInputSeleccion {

    width:100%;
    font-weight: normal;
    font-family: 'open sans regular', sans-serif;
    color: #787878;
}

/*Estilo checkbox*/

 .divInputSeleccion input[type=checkbox]{

    margin-left:20px;
    /*transform:scale(1,1);
   -ms-transform:scale(1,1);  /*IE 9 
   -moz-transform:scale(1,1); /* Firefox 
   -webkit-transform:scale(1,1); /* Safari and Chrome 
   -o-transform:scale(1,1); /* Opera */
    border:solid 1px #D1D3D4;
  
    
    }
  .divInputSeleccion label{

    margin-left:5px;
   
  
    
    }
.divColor {

    width:20px;
   
}

#elementos {
    float:left;
}
#color {

    float:left;
    width:20px;
    margin-left:-7px;
    z-index:20 !important;
}

 #color input[type=text] {
    width:130px;
    /*min-width:130px;*/
    min-width:23px;
    width:23px;
    text-align:left;
    height:23px;
    /*position:absolute;*/
    color:#787878;
  
    }

 #color input[type=submit] {
    
    /*padding: 5px 15px;
    padding: .5rem .15rem; 
    border:solid 1px #CCCCCC;
    cursor:default;
    -webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    border-radius: 3px; 
    border-radius: .3rem; 
    width:auto;
    min-width: 80px;
    height:30px;
    padding: 0px 10px 0px 10px;
    display:inline-block; 
    vertical-align:middle;
    font-weight:normal;
    font-family:'open sans regular', sans-serif;
    color:black;
    background:white;
    font-size:10px;
    margin-left:30px;*/

    /*position:absolute;*/
    /*margin-top:-51px;*/
    

    }