﻿.divControlesExaminar 
{
    width:100%;
    text-align:center;
    font-family: 'open sans regular', sans-serif!important;
    margin-bottom:20px;
    margin-top:15px;
    text-align:center!important;
    text-align:-moz-center!important;
}

.gridExaminar 
{
    height:410px; 
    width:100%; 
    overflow-y:auto;
    text-align:left!important;
    text-align:-moz-left!important;
}

.gridExaminarImagen 
{
    image-rendering:optimizeSpeed;   
    max-width:150px; 
    height:auto;
    max-height:150px;
    background-color:none;
    background-repeat:no-repeat;
    background-position:center;
}

.gridExaminarNombreImagen 
{
    font-size:150%!important;
    font-weight:bold!important;
}

.divTabla 
{
    height:550px!important;
    text-align:left!important;
    text-align:-moz-left!important;
}

.mGrid {
    width:100%!important;
}