﻿#Alfabeto-contenedor 
{
    flex-wrap:wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: end;
    text-align:center;
    padding-bottom:40px;
}
 
ul#Alfabeto li 
{
    display: inline-block;
}
 
ul#Alfabeto li a 
{
    display: block;
    padding: 0 12px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: #787878;
}

ul#Alfabeto li a:hover {

	background: #00AAFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

    color: #ffffff!important;
    background-color: #00AAFF;

    transform: scale(1.1, 1.1);
    transition: transform .1s;

    -moz-transition: all .1s ease-in;
    /* WebKit */
    -webkit-transition: transform .1s;
    /* Opera */
    -o-transition: transform .1s;
    /* Standard */
    transition: all .1s ease-in;
}

ul#Alfabeto li a:active {
    color: #D1D3D4;
    background-color: #D1D3D4;
}

.Palabra {
    font-size:150%;
    font-weight:bold;
    padding-bottom:60px;
}

/*.divEdicionPalabra {
    height:350px!important;
}*/

.divMultiline {
    height:300px;
}

.divConfirmarEliminar {
    width:400px!important;
    height:280px!important;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
background: #eaeaea!important;
}

.mGrid {
    width:100%!important;
}