﻿
.MultilineBienvenida {

    width:95%!important;
    height:250px!important;
    height:auto!important;
    min-height:100px;
    margin:0!important;

}

.HomeBrandSite {
    image-rendering:optimizeSpeed;
    width:100%;
    height:auto;
    border-radius: 0;
    border:none;
}

#contenido {
    padding:0!important;
    border-radius: 0;
}

.divFondoPagina {
    border-radius: 0!important;
    
    
}