﻿.Bienvenida {
    font-size:150%!important;
}

.Centro {
    margin-top:30px!important;
    margin-bottom:30px!important;
    margin-left:50px!important;
    margin-right:50px!important
}

.HomeBrandSite {
    image-rendering:optimizeSpeed;
    width:100%;
    height:auto;
    border-radius: 0px;
    border:none;
}

#contenido {
    padding:0rem!important;
    
}

.divFondoPagina {
    border-radius: 0px!important;
}