﻿body {
    
    background-image: url('../../Images/Site/IDENT_Home_Grid.png');
    background-color: #cccccc;
}
#divContenido {
    margin-left: auto;
    margin-right: auto;
    margin-top:-7px;
    width: 1024px;
    height: 768px;
    background-color: white;
    background-image: url(../../Images/Site/IDENT_Home.jpg);
}
#tBienvenido
{
    margin-left:80px;
    margin-top:100px;
    position:absolute;
}
#lblBienvenido
{
    font-family: 'Open Sans', sans-serif;
    font-size:54px;
    font-weight:bold;
    
}
.Texto
{
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
}
#botonesC
{
    margin-left:80px;
    margin-top:288px;
    position:absolute;

}

#btnConocenos{
    text-decoration:none;
    text-align:center;
    align-content:center;
    vertical-align:central;
}
.colorAqua {
    background-color: #23FFFF;
    border: 0 none;
    cursor: default;
    width: 144px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-right: 12px;
}
#menuIngreso
{
    margin-left:560px;
    margin-top:175px;
    z-index:100;
    position:absolute;
}
#lblSubtitulo
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:14px;
}
.txtregistro {
    border-color: #FF008C;
    border-style: solid;
    border-width: 1px;
    width: 224px;
    height: 14px;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 14px;
    margin-bottom: 2px;
}
#lblRecuperar {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 9px;
    color: black;
}
#lblvalidacionRP{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 9px;
    color: darkred;
}
.colorRosa {
    background-color: #FF008C;
    border: 0 none;
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#btnLogin {
    width:144px;
    margin-top:9px;
    height:32px;
}
#contentDefault {
    margin-left: 80px;
    margin-top: 400px;
    z-index: 100;
    position: absolute;
}
.textoDefault {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 44px;
    margin-right: 4px;
}
.textoDefaultR
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    color:#FF008C;
    font-size:44px;
    
}
#menuRegistro
{
    margin-left:560px;
    margin-top:430px;
    z-index:100;
    position:absolute;
}
.textoRegistro
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    color:white;
    font-size:14px;
    margin-right:4px;
}
#btnRegistro
{
    text-align:center;
    font-size:14px;
    height:32px;
    width:224px;
    text-decoration:none;
}
#CopyR
{
    font-size:8px;
    margin-left:80px;
    margin-top:742px;
    position:absolute;
}
/*---------------------------Modal Contactanos------------------------------------------------------------*/
/* The Modal (background) */
.modalContactanos {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.modal-content {
    background-color: #23ffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 384px;
    height:384px;
    font-family: 'Open Sans', sans-serif;
}

/* The Close Button */
.close {
    color: #ffffff;
    background:#000000;
    width:16px;
    height:16px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding:0px;
    margin-top:-20px;
    margin-right:-20px;
    text-align:center;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#tituloC{
    text-align:center;
}
.textblancos{
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    font-weight:bold;
    background:#ffffff;
    color:#000000;
    border:none;
}
.textnombres{
    width:152px;
    height:32px;
    margin-left:30px;
    margin-bottom:16px;
}
.textapellidos{
    width:152px;
    height:32px;
    margin-left:12px;
    margin-bottom:16px;
}
.textcorreo{
    width:320px;
    height:32px;
    margin-left:30px;
    margin-bottom:16px;
}
.textcomentarios{
    width:320px;
    height:142px;
    margin-left:30px;
    margin-bottom:16px;
}
.botonNegro{
    width:152px;
    height:32px;
    background:#000000;
    color:#ffffff;
    border: 0 none;
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.botonCancelar{
    margin-left:30px;
}
.botonEnviar{
    margin-left:12px;
}
/*-----------------------------------------------------------------------------------------------------------*/

/*---------------------------Modal Mis sitios------------------------------------------------------------*/
/* The Modal (background) */
.modalMisSitios {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content Mis Sitios */
.modal-contentMs {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 384px;
    height:284px;
    font-family: 'Open Sans', sans-serif;
}

/* The Close Button */
.closeMs {
    color: #ffffff;
    background:#000000;
    width:16px;
    height:16px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding:0px;
    margin-top:-20px;
    margin-right:-20px;
    text-align:center;
}
#Adonde{
    margin-left:70px;
    margin-top:50px;
}
#btnIr{
    width:70px;
    height:30px;
    margin-left:300px;
    margin-top:50px;
}
.closeMs:hover,
.closeMs:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#tituloMS{
    text-align:center;
}
/*-----------------------------------------------------------------------------------------------------------*/
/*---------------------------Modal Registrate------------------------------------------------------------*/
/* The Modal (background) */
.modalRegistrate {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentR {
    background-color: #23ffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 384px;
    height:384px;
    font-family: 'Open Sans', sans-serif;
}

/* The Close Button */
.closeR {
    color: #ffffff;
    background:#000000;
    width:16px;
    height:16px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding:0px;
    margin-top:-20px;
    margin-right:-20px;
    text-align:center;
}

.closeR:hover,
.closeR:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#tituloR{
    text-align:center;
}
#divTerminos{
    margin-left:40px;
}
.negritas{
    margin-left:70px;
}
/*-----------------------------------------------------------------------------------------------------------*/
/*---------------------------Modal Plan------------------------------------------------------------*/
/* The Modal (background) */
.modalPlan {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentP {
    background-image: url('../../Images/Site/PlantillaRegistro.png');
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 825px;
    height: 584px;
    font-family: 'Open Sans', sans-serif;
}

/* The Close Button */
.closeP {
    color: #ffffff;
    background:#000000;
    width:16px;
    height:16px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding:0px;
    margin-top:-20px;
    margin-right:-20px;
    text-align:center;
}

.closeP:hover,
.closeP:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#tituloP{
    text-align:center;
}

/*-----------------------------------------------------------------------------------------------------------*/

.Planes
{
    width:160px;
    float:left;
    margin-right:20px;
    height:290px;
}
.tituloPlan
{
    color:#FF008C;
    font-weight:bold;
    font-size:17px;
}
.DescripcionPlan
{
    font-weight:bold;
    font-size:12px;
}
.gigas
{
    font-size:20px;
}
.pagos
{
    font-size:11px;
}
.textoemp
{
    font-size:13px;
}
.btnSeleccionarPlan
{
    background-color:#FF008C;    
    border:0 none;
    cursor:default;
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    border-radius: 3px; 
    border-radius: .3rem;*/     
    display:inline-block; 
    vertical-align:middle;
    font-weight:bold;    
    font-family: 'Open Sans', sans-serif;
    color:white;
    padding:8px;
}
.espacio
{
    margin-left:10px;
}
#RegistroEmpresa
{
    position:absolute;
    margin-left:120px;
}
.PlanesE
{
    width:140px;
    float:left;
    margin-right:20px;
    height:300px;
}
.tituloPosRegistro
{
    font-family: 'Open Sans', sans-serif;
    font-size:37px;
    font-weight:bold;
    position:relative;
    margin-left:130px;
}

.tituloPosRegistroRosa
{
    font-family: 'Open Sans', sans-serif;
    font-size:37px;
    font-weight:bold;
    position:relative;
    margin-left:10px;
    color:#FF008C;
}
.TextoPosRegistro
{
    font-family: 'Open Sans', sans-serif;
    font-size:17px;
    position:relative;
    margin-left:200px;
}
.btnsRegistro
{
    background-color:#23FFFF;
    padding: 5px 15px;
    padding: .5rem .15rem; 
    border:0 none;
    cursor:default;
    /*-webkit-border-radius: 3px;
    -webkit-border-radius: .3rem;
    border-radius: 3px; 
    border-radius: .3rem;*/ 
    width: 144px;
    height:35px;
    height:2.5rem;
    padding: 0px 10px 0px 10px;
    display:inline-block; 
    vertical-align:middle;
    font-weight:bold;
    font-size:12px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    margin-left:12px;
    margin-right:12px;
    margin-top:-20px;
}
#DescripcionDisenador
{
    width:220px;    
    font-size:14px;
    float:left;
    font-family: 'Open Sans', sans-serif;
}
#lblTextoRegistroDisenador {
    font-weight: bold;
}
#RegistroDisenador {
    font-family: 'Open Sans', sans-serif;
    margin-left: 190px;
}

/*---------------------------Modal Pagar------------------------------------------------------------*/
/* The Modal (background) */
.modalPagar {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentPagar {
    background-image: url('../../Images/Site/PlantillaRegistro.png');
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 825px;
    height: 584px;
    font-family: 'Open Sans', sans-serif;
}

/* The Close Button */
.closePagar {
    color: #ffffff;
    background:#000000;
    width:16px;
    height:16px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding:0px;
    margin-top:-20px;
    margin-right:-20px;
    text-align:center;
}

.closePagar:hover,
.closePagar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#tituloPagar{
    text-align:center;
}

.lblTituloDatosF
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}
.lblPersona
{
    margin-left:20px;
    margin-top:-47px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}
.lblEmpresa
{
    margin-left:20px;
    margin-top:-17px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}
.columna1Pagos
{
    margin-left:140px;
}
.txtDatosPagoG
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:10px;
    width:304px;
    height:32px;
    background:#F5F5F5;
    color:#B9B9B9;
    border:none;
}
.txtDatosPagoM
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:10px;
    width:145px;
    height:32px;
    background:#F5F5F5;
    color:#B9B9B9;
    border:none;
    margin-right:14px;
}
.txtDatosPagoCh
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:10px;
    width:65px;
    height:32px;
    background:#F5F5F5;
    color:#B9B9B9;
    border:none;
    margin-right:12px;
}
#txtRazonSocialdf{
    margin-left:-327px;
}
.lblDatosObligatorios
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:9px;
}
.columna2Pagos
{
    position:absolute;
    margin-left:500px;
    margin-top:-480px;
}
.lblPlan
{
    color:#FF008C;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:24px;
    
}
.lblTotal
{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    float:right;
    padding:5px;
}
.lblCantidad
{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:20px;
    float:right;
    margin-right:45px;
}
.lblCantidades
{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:12px;
    position:absolute;
    margin-left:16px;
    margin-top:-16px;
}
.lblPeriodo
{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size:10px;
    position:absolute;
    margin-left:16px;
}
#pagoanual
{
    margin-left:200px;
    margin-top:-16px;
}
.lblCantidadesA
{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:12px;
    position:absolute;
    margin-left:216px;
    margin-top:-16px;
}
.lblPeriodoA
{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size:10px;
    position:absolute;
    margin-left:216px;
}
#lblFormaDePago
{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:14px;
}
.ddlVencimiento
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:10px;
    width:145px;
    height:32px;
    background:#B9B9B9;
    color:#FFFFFF;
    border:none;
    margin-right:14px;
}
.colorRosaPago
{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:12px;
    width:145px;
    height:32px;
    background:#FF008C;
    color:#FFFFFF;
    border:none;
    margin-left:160px;
    margin-top:40px;
}

/*Check box*/
#chkTerminos{
    width:15px;
    float:left;
}
.checkbox-group{
    width:14px;
    height:14px;
    background:#23FFFF;
    margin:-1px 4px 0 0;
}
#chkTerminos{
    background:#FFFFFF;
    margin-left:20px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:14px;
    height:14px;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    width:6px;
    height:6px;
     display:inline-block;
     vertical-align:middle;
     margin-left:4px;
     margin-top:-8px;
    background:#000000;
}