﻿.Titulo {
    font-size:150%;
    font-weight:bold;
    padding-bottom:50px;
    /*color:#5AB247;*/
    color:#FF008C;
}

.SubTitulo {
    font-size:150%;
    padding-bottom:100px;
}

.error {
    width:100%;
    height:250px;
    text-align:center;
}

#logoIdentidad {
    margin:30px;
    width:300px;
}

.divIzq {
    float:left; 
    width:49%!important;
    min-width:49%!important;
    height:500px;
}

.divDer {
    float:right; 
    width:49%!important;
    min-width:49%!important;
    height:500px;
}

.divTexto {
    margin-left:90px;
    margin-top:220px;
}

h1 {
    color:black;
    font-size:150%;
    font-weight:bolder;
}

h2 {
    color:black;
    font-size:150%;
    font-weight:100;
}