﻿#divPrincipal {

    width:100%;
    height:auto;
    /*background-color:#D1D3D4;*/
    /*color: #373E4E;*/

}
/*Bloquear Menu*/
.menud {

    background:#fff;
    /*border: 1px solid #D1D3D4;*/
}

.menu-fijo {

position: relative;
}


.imagePlantilla {
width: 100px;
height: 100px;

}


.imagePlantilla:hover {
     -webkit-box-shadow: 1px 1px 1px 1px #D1D3D4;
     -moz-box-shadow:    1px 1px 1px 1px #D1D3D4;
     box-shadow:         1px 1px 1px 1px #D1D3D4;

}

.toolTip_image {

     background:url('..\\Pages\\img\\toolTip.gif') no-repeat;
     border :solid 1px #D1D3D4;

}

.background_image {
     background:url('..\\Pages\\img\\background.gif') no-repeat;
     border :solid 1px #D1D3D4;


}

.cimagen_image {
     background:url('..\\Pages\\img\\img.gif') no-repeat;
     border :solid 1px #D1D3D4;


}

.divTabla {

height:auto;/*250px !important;*/

}


/*CLASES TOOLTIP*/

/*#divEditorTexto a{

    display: inline;
    position: relative;
}
#divEditorTexto a:hover:after{

    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(href);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    max-width:200px;
  
     width:auto;
    /*min-width: 200px;
    font-size:10px;
    text-align:center;


    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
#divEditorTexto a:hover:before{

    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}*/
#divContenido {
     /*margin-top:100px;*/
     clear:both;
     background:white;
     /*border:solid 1px #D1D3D4;*/
     /*border-left:solid 1px #D1D3D4;*/
}
/*TOOLTIP*/
.divAgregarSeccion {

    width:100%;
    height:40px;
    height:4rem;  
    margin-left:15px;
    /*text-align:center;*/
    vertical-align:middle;
    margin-bottom:10px;
    /*background-color:#373E4E;*/

}


/*Tool tips Div*/

#divPrincipalToolTip {
margin: auto;
width: 350px;
height:150px

}

#divAddTootltip {

  
    text-align: center;
  
    /*background:white;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(171,171,171,1);
    -moz-box-shadow:    1px 1px 1px 1px rgba(171,171,171,1);
    box-shadow:         1px 1px 1px 1px rgba(171,171,171,1);*/

}

#divAddTootltip .buttons {
    
    height:25px;
    
 }
#divAddTootltip .TexBox { 


}

#divButtonsTT {
    width:200px;
    float:right;
    margin-right:20px;
}

.spanTTitulo {
    
    font-weight:bold;
    font-size:150%;
}

.spanSUBTitulo {


     /*font-size:12px;*/
}


/**/
.divOpciones {
    width: 100%;
    height: 40px;
    height: 4rem;
    text-align: right;
    vertical-align: middle;
    /*background-color:#373E4E;*/
    background-color: white;
    /*border:solid 1px #D1D3D4;*/
}

 .divOpciones div {
    
    margin-right:10px;
    
    }

 .divOpcionesHTML {

    width:100%;
    height:40px;
    height:4rem;  
   
    text-align:right;
    vertical-align:middle;
    /*background-color:#373E4E;*/
    background-color:white;

}

#divOpciones {

    float:right;
   
}

#ContentPlaceHolder1_divTreeView {

     float:left;
    /*border-left:solid 1px #D1D3D4;
    border-right:solid 1px #D1D3D4;

    border-left:solid .1rem #D1D3D4;
    border-right:solid .1rem #D1D3D4;

    border-bottom:solid .1rem #D1D3D4;
    border-bottom:solid .1rem #D1D3D4;

    border-bottom:solid 1px #D1D3D4;
    border-bottom:solid 1px #D1D3D4;*/

    /*background-color:#FFFFFF;*/

    margin-left:5px;
    margin-left:.5rem;
   
    float:left; 
    max-width:200px;
    min-width:200px;

    max-width:21rem;
    min-width:21rem;



} 

#divTreeView {
    
    float:left;
    /*border-left:solid 1px #D1D3D4;
    border-right:solid 1px #D1D3D4;

    border-left:solid .1rem #D1D3D4;
    border-right:solid .1rem #D1D3D4;

    border-bottom:solid .1rem #D1D3D4;
    border-bottom:solid .1rem #D1D3D4;

    border-bottom:solid 1px #D1D3D4;
    border-bottom:solid 1px #D1D3D4;*/

    /*background-color:#FFFFFF;*/

    margin-left:5px;
    margin-left:.5rem;
   
    float:left; 
    max-width:200px;
    min-width:200px;

    max-width:22rem;
    min-width:22rem;

    margin-top:10px;

    /*margin-top:20px;
    margin-top:2rem;*/
}

.divFondo {

    max-width:70%;
    min-width:70%;
    float:left; 
    margin-left:10px;
   /*/* border:solid 1px #CCCCCC;*/
    /*margin-top:20px;
    margin-top:2rem;*/
    /*background-color:#FFFFFF;*/
}

#divTree {

    margin-left:10px;
}

.TreeView:hover {
    
    font-weight:bold;
   
    }

/*ESTILOS BLOQUE TEXT EDITOR*/
#divOpciones {

    position:static;
    float:right;
    margin-bottom:10px;


}

#divMainTemplate {

    margin-top:20px;
    margin-top:2rem;
    margin-left:20px;
    margin-left:2rem;
    vertical-align:top;
    /*border: solid 1px #D1D3D4;*/

}

/*Estilos Rich Texbox*/

.ajax__html_editor_extender_container {

    width:100% !important;
     /*background:#7E858E;*/ 
}

.ajax__html_editor_extender_button {

    /*color:black;
    border:solid 0px #7E858E;*/
}

#ContentPlaceHolder1_HtmlEditorExtender2_popupDiv {

    width:0px;
    height:0px;

}

.divRichTexbox {
   
    width:100%;

}

/*Estilos del editor*/

.divEdicion {

    width:100%;
    height:auto;
    margin-top:10px;
    margin-left:5px;
    float:right;
    /*border:solid 1px #CCCCCC;
    background-color:white;*/

}

.divTitulos {
    font-weight:bold;
    font-size:150%;
    color:black;
    margin-left:15px;
    margin-top:10px;
    margin-bottom:10px;

}

.divEditorTexto {

    height:auto;
    /*margin-top:10px;*/
    margin-left:5px;
    float:right;
    width:100%;
    min-height:465px;
  

}

.btnEditarHTML {
    margin-top:21px;
    margin-top:1.5rem;
}
.btnPublicarHTML {

    margin-top:-25px;
    margin-top:-2rem;
}

/*Estilos del editor*/

.divHTML {


    margin-top:20px;
    margin-top:2rem;

}

/*Opciones popUp eliminar*/
.contenidoCentrar {
    text-align:center;

}
.divConfirmarEliminar {

   height:200px !important;

}
/*Opciones popUp eliminar*/



/*ESTILOS PRA LAS PLANTILLAS*/

.divTemplate {
    margin:auto;
    width:680px;
    min-height:100px;
    margin-bottom:10px;
}



.divTemplateTitulo {
    margin-top:10px;
    /*text-align:center;*/


}

/*Agregar texto en una sola columna.*/

.divTemplateTexto {

    margin-left:20px;
    margin-top:20px;
    margin-right:20px;
    margin-bottom:20px;

    text-align:justify;    
    width:auto;
    /*color:  #000;*/
}

.margen 
{
    margin-left:20px!important;
    margin-right:20px!important;
}

/*Agrega imagen*/

.divTemplateImagen
{
    cursor:pointer!important;
    margin-left:20px!important;
    margin-right:20px!important;

    margin-top:20px;
    width:auto;
    /* background-color:#D1D3D4;
    imagen predeterminada
    background-color:#7E858E;
    background:url('..\\Pages\\img\\subirImagen.gif') no-repeat;*/
    background-size:100% 100%;
    background:url('..\\Pages\\img\\bkgImg.png') repeat-x;
    min-height:50px;
    margin-bottom:10px;
}

/*Dos columnas imagen y texto*/

.divIzq {
    width:43%;
    float:left;
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;

}

/*al editar el template salen las rayitas punteadas*/
.divTemplateEdit {
     border: dashed  2px #D1D3D4;
     padding: 30px;
     height:auto;
     

}
.divTemplateEdit div>div[onclick] {
    
    border: dashed 1px #D1D3D4;
    cursor:default;
}


.divTemplateEdit div>div[onclick]:hover  {
   
     border: dashed 1px #D1D3D4;
     cursor:default;
}

/*Seleccion de las plantillas*/

.divSeleccionPlantilla {

    width:700px !important;
    height:80%;
    /*background: #fff;
    opacity: 1.0;
    filter: alpha(opacity=10); 
    text-align:center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #cccccc;*/
    
}
.divTituloPlantilla {
    
    color:#373E4E;
    font-size:150%;
    font-weight:bold;
    background: #D1D3D4;
    height:30px;
    
    
}

.divTituloPlantilla label {
    
   
    margin-top:10px;
    
    
}

.divPlantillaContenido {

    margin-left:20px;
    margin-right:20px;
    margin-top:10px;

}

.divOpcionesEditor {
    /*background-color: #D1D3D4;*/
    /*padding: 2px 2px 2px 2px;*/
    /*border: 1px solid #D1D3D4;*/
    overflow: auto;
    /*border-bottom:solid 1px #D1D3D4;*/
}
/*.divTemplateImagen {

cursor:auto  !important;
}*/

/*Version 2.0 Nuevos Estilachos*/

#ContentPlaceHolder1_divOcultatree {

    
    color:#23719f;
    margin-left:.5rem;
    cursor:default;
    margin-top:20px;
    margin-top:.5rem;
}


 #divOcultatree {

    color:#23719f;
    margin-left:.5rem;
    cursor:default;
    margin-top:20px;
    margin-top:2rem;
}

.importantRule { 
    min-width: 99% !important; 
    max-width: 99% !important;
}

.divAdvertencia {
color:blue;
text-align:center;
margin-bottom:5px;

}
/*Estilo del editor de texto*/
.cke_focus{
    outline: 1px solid rgba(171,171,171,1);
    padding: 10px;
    background: #eee;
}

.seleccinarItem {
    font-weight:bold !important;
}



.Id1{
    margin-left:20px!important;
    margin-right:20px!important;
}

.Id2{
        margin-left:20px!important;
    margin-right:20px!important;
}

.Id3{
        margin-left:20px!important;
    margin-right:20px!important;
}

.Id4{
        margin-left:20px!important;
    margin-right:20px!important;
}

.Id5{
        margin-left:20px!important;
    margin-right:20px!important;
}

/*Archivos relacionados*/


         /*  .tablaMosaico 
            {
                margin:20px 20px 20px 20px; 
                width:85%; 
                height:85%;
                word-break:break-all;
            }*/

            .divMosaico {
                width:150px; 
                Height:150px; 
                margin-left:6px;
                margin-right:0px;
                margin-bottom:10px;
                background-color:white;

                -webkit-border-radius: 3px;
                -webkit-border-radius: .3rem;
                -moz-border-radius: 3px;
                -moz-border-radius: .3rem;
                 border-radius: 3px; 
                 border-radius: .3rem; 
            }

            .tablaMosaico {
                margin:25px 25px 25px 25px; 
                width:85%; 
                height:85%;
                word-break:break-all;
            }

            .imagenMosaico {
                cursor:default!important;
                image-rendering:optimizeSpeed; 
                margin-bottom:10px; 
                margin-top:20px; 
                margin-right:10px; 

                max-width:100px;

                height:auto;
                max-height:100px;
                
                background-color:none;
                background-repeat:no-repeat;
                background-position:center;
            }

           /* .divMosaico:hover {

                z-index:3;
                -webkit-box-shadow: 0px 0px 3px 3px #D1D3D4;
                -moz-box-shadow: 0px 0px 3px 3px #D1D3D4;
                box-shadow: 0px 0px 3px 3px #D1D3D4;

                transition: transform .1s;

                -moz-transition: all .1s ease-in;
                
                -webkit-transition: all .1s ease-in;
                
                -o-transition: all .1s ease-in;
                
                transition: all .1s ease-in;
    
            }*/