﻿.divFondo {
    width:100%;
    background:#fff;
    border: solid #D1D3D4 1px;
    vertical-align:top;
}

.divFondoManual {
    width:800px;
    /*float:right;*/
    height:auto;
    background:#fff;
    border: solid #D1D3D4 0px;
    /*margin-right:10px;
    margin-top:2px;*/
    margin:auto;
  
    
}

.margen {
margin-left:20px;
margin-right:20px;

}
#divTree {
     float:left;
     /*font-size:14px;*/
     color:#fff;
     font-weight:bold;
     width: 350px; 
     height:392px;
     overflow-y:auto;
     /*background:#D1D3D4;*/
     /*font-size:12px;*/
     position:fixed;
     z-index: 9999;
     top: 20px;
    
}

#divMenu {
    top:20px;
    width:auto;
    
}
.f-nav{  /* To fix main menu container */
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
}
.fixed {
   
    position:fixed;
}

.divTemplateImagen {
     max-width:950px;
     margin-top:20px;

   /*imagen predeterminada
    background-color:#7E858E;
    background:url('..\\Pages\\img\\subirImagen.gif') no-repeat;*/
   background-size:100% 100%;

    min-height:100px;
    
}

.divTemplate {
    margin:auto;
    width:95%;
    min-height:100px;
}



.divTemplateTitulo {
    margin-top:10px;
    text-align:center;
}

/*Agregar texto en una sola columna.*/

.divTemplateTexto {
    margin-top:20px;
    text-align:justify;
    width:auto;
    margin-bottom:10px;
    /*word-wrap: break-word;
    word-break: break-all;*/
}


.divIzq {
    /*width:48%;
    float:left;
    margin-left:10px;*/
        width:45%;
    float:left;
    margin-left:20px;
    margin-top:10px;
}
.tabManual {
 margin: 10px 10px 10px 10px;
 width:100%;

}

.tabPlantilla {
      /*width:auto;*/
     width:100%;
     margin: 10px 10px 40px 10px;
   
}
.divTemplateTitulo {
margin-bottom:10px;
}

.trPadre0 {


}


/*TOOTLTIP*/
.toolTip_image {

     background:url('..\\Pages\\img\\toolTip.gif') no-repeat;
     border :solid 1px #D1D3D4;

}

/*CLASES TOOLTIP*/
.divFondoManual a{

    display: inline;
    position: relative;
}
.divFondoManual a:hover:after{

    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(href);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
   /* min-width: 200px;*/
    /*font-size:10px;*/
    text-align:center;
     width:auto;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.divFondoManual a:hover:before{

    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.divFondoManual a {
   
 
}


/*FIN TOoLTIP*/

/*Estilos treeview*/

.ContentPlaceHolder1_tvwIndice_1:hover {

    color:black;

}

#imgOcultarMenu {

    margin-left:-30px;
    position:absolute;
    cursor:default;
    /*top: 408px;*/
    /*left: 351px;*/
    width: 30px;
    height: 40px;
}

.ContentPlaceHolder1_tvwIndice_0 {

/*font-size:14px;*/
}

.ContentPlaceHolder1_tvwIndice_0:hover {
    
    /*font-size:15px;*/
    color:black;
    
    }

.scrollbar{
width:150px;
height:300px;
background-color:#fff;
overflow-y:scroll;
float:left;
border:1px solid #D1D3D4;


}

#divTree::-webkit-scrollbar{
width:16px;
background-color:#D1D3D4;
}

#divTree::-webkit-scrollbar-thumb{
background-color:#333;
border-radius:10px;
}
#divTree::-webkit-scrollbar-thumb:hover{
background-color:#333;
border:1px solid #333333;
}

#divTree::-webkit-scrollbar-thumb:active{
background-color:#333;
border:1px solid #333333;
} 

#divTree::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px #D1D3D4 inset;
} 