﻿.imgPerfil {
    image-rendering:optimizeSpeed;   
    max-width:100px; 
    height:auto;
    max-height:100px;
    background-color:none;
    background-repeat:no-repeat;
    background-position:center;
    
}

.divTabla{
    height:615px;
}

.divFotoPerfil {
    width:380px; 
    height:110px; 
    display:table-cell; 
    vertical-align:middle; 
    text-align:left;
}

/**/

.contenido {
    margin-left:1px;
    /*width:990px;*/
    height:779px;
}

.control {
    width:640px;
    height:655px;
    margin-left:auto;
    margin-right:auto;
}