﻿.gridMisBrandSites {
    width:100%;
}

.tituloBrandSite {
    font-size:150%;
    font-weight:bold;
}

.informacionAdicional {
    font-size:85%;
}

.espacioTotal {
    font-size:85%;
    width:100%;
    text-align:right;
   padding-left:20px;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
background: #eaeaea;
}

.imgLogo {
    image-rendering:optimizeSpeed;   
    max-width:100px;
    height:auto; 
    background-color:none;
    background-repeat:no-repeat;
    background-position:center;
}