﻿.imgLogo {
    image-rendering:optimizeSpeed;   
    max-width:100px; 
    height:auto;
    background-color:none;
    background-repeat:no-repeat;
    background-position:center;
    
}

.imgUsuario {
    image-rendering:optimizeSpeed;   
    max-width:70px; 
    max-height:70px;
    background-color:#ffffff;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
background: #eaeaea!important;
}

.FechaAlta {
    font-size:85%;
}