﻿.gvMisBrandSite {
    width:100%;
}

.divImportarExistente {
    height:300px!important;
}

.divEnvioDatos {
    width:400px!important;
    height:250px!important;
}

.imgUsuario {
    image-rendering:optimizeSpeed;   
    max-width:70px; 
    max-height:70px;
    background-color:#ffffff;
}

.imgLogo {
    image-rendering:optimizeSpeed;   
    max-width:100px; 
    height:auto;
    background-color:none;
    background-repeat:no-repeat;
    background-position:center;
    
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
    background: #eaeaea!important;
}

.MisBrandSites {
    font-size:150%;
    font-weight:bold;
}

.NombreUsuario {
    /*font-size:18px;*/
}

.FechaAlta {
    font-size:85%;
}

.divMisUsuarios {
    float:left; 
    width:49%!important;
    min-width:49%!important;
}

.divMisAccesos {
    float:right; 
    width:49%;
    min-width:49%!important;
}

.NuevoUsuario {
    height:300px!important;
}

.MensajeUsuarios {
    margin-left:50px;
}

#chromeFix { display: block; position: absolute; width: 1px; height: 100%; top: 0px; left: 0px; content: ""}