﻿.ImagenUsuario {
    image-rendering:optimizeSpeed;   
    max-width:100px; 
    height:auto;
    margin-right:20px;
}

.gridNovedades {
    width:100%;
}

.textoNovedades {
    font-size:150%!important;
    font-weight:bold;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
background: #eaeaea!important;
}