﻿.GridPago {
    width:100%;
}

.NombrePlan {
    font-size:150%;
    font-weight:bold;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
background: #eaeaea!important;
}

.imgCuenta {
    image-rendering:optimizeSpeed;   
    max-width:100px; 
    height:auto;
    background-color:none;
    background-repeat:no-repeat;
    background-position:center;
}