﻿.divControlesExaminarColor {
    width:100%;
    text-align:center;
    font-family: 'open sans regular', sans-serif;
    margin-bottom:20px;
    margin-top:15px;
    text-align:center!important;
    text-align:-moz-center!important;
    color:#787878;
}

.gridExaminarColor {
    height:400px!important; 
    width:100%; 
    overflow-y:auto;
        text-align:left!important;
    text-align:-moz-left!important;
    font-family: 'open sans regular', sans-serif;
    /*font-size:12px;*/
    color:#787878;
}

.divTabla {
    height:auto!important;
        text-align:left!important;
    text-align:-moz-left!important;
}