﻿#MySplitter {
      
    width: 1024px;
    height:800px;

}

#MySplitter div {
    
    overflow: auto;
    height:auto;
    
}

.vsplitbar {
	   
    width: 5px;
    background: #d9d9d9;
    border: 1px #b3b3b3 solid;  
    
}

#collapse {

     height:50px !important;
     width: auto;
     background:#575757;
     cursor:pointer;
	 margin-top:400px;

}

#collapse:hover {
     
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
       
}