﻿.tag {
    image-rendering:optimizeSpeed;   
    max-width:100px; 
    height:auto;
    background-color:none;
    background-repeat:no-repeat;
    background-position:center;
}

.gridTag {
    width:100%
}

.CentrarTag {
    width:520px;
    height:110px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.divEdicionTag {
    width:520px!important;
    height:450px!important;
}

/*.divEliminarTag {
    width:490px!important;
    height:250px!important;
    min-height:250px;
}*/

.NombreTag {
    font-size:150%;
    font-weight:bold;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
background: #eaeaea!important;
}