﻿.wrapper {
  width: 24px;
  -webkit-font-smoothing: antialiased;
}

.wrapper .tooltip {
    
    opacity: 0;

    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 20px 0px #444;
    -moz-box-shadow: 0px 0px 20px 0px #444;
    box-shadow: 0px 0px 20px 0px #444;

    background: #fff;
    bottom: 100%;
    font-family: 'open sans regular', sans-serif;
    /*font-size:15px;*/
    color:#787878;
    display: block;
    left: -25px;
    top:-45px;
    margin-bottom: 15px;
    
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    min-width:100%;

    margin-left:7px;

    width:630px;

    min-height:30px;
    height:auto;

  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 0px 0px 20px 0px #444;
     -moz-box-shadow: 0px 0px 20px 0px #444;
      -ms-box-shadow: 0px 0px 20px 0px #444;
       -o-box-shadow: 0px 0px 20px 0px #444;
          box-shadow: 2px 2px 6px #D1D3D4;
        
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #fff 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 93%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
  display: none;
}

.lte8 .wrapper:hover .tooltip {
  display: block;
}